button {
  z-index: 1;
}
.buttonUp {
  position: fixed;
  bottom: 0px;
  right: 0px;
  padding: 1%;
  background-color: rgb(23, 130, 60);
  width: fit-content;
  height: fit-content;
  margin-right: 3vw;
  color: aliceblue;
  font-family: "lato";
  font-size: 2vh;
  border-radius: 0%;
}
.arrow {
  height: 15px;
  margin: 0px 4px 3px;
}
.row1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  margin-bottom: 20vh;
}

.textDiv1 {
  background-color: rgb(23, 130, 60);
  text-align: start;
  padding-bottom: 3vh;
  padding-right: 4vw;
  padding-left: 3vw;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  width: 35vw;
  padding-top: 3vw;
  font-family: "lato";
  font-size: 2vh;
  color: aliceblue;
  z-index: 1;
  margin-right: -2vw;
  /*to w poączeniu z .center (w row2) odpowiada za NAKŁADANIE SIĘ ELEMENTÓW NA SIEBIE*/
}

.src1Div {
  position: relative;
  margin-top: -20px;
  display: flex;
  justify-content: left;
}

.src1 {
  max-width: 50vw;
  height: auto;
}

.row2 {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.src2 {
  height: 50vh;
  width: auto;
  margin-right: 20vw;
}

.align {
  display: flex;
  justify-content: center;
}

.text2Div {
  background-color: rgb(23, 130, 60);
  text-align: start;
  padding-bottom: 3vh;
  padding-right: 4vw;
  padding-left: 3vw;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  height: 40vh;
  width: 35vw;
  padding-top: 3vw;
  font-family: "lato";
  font-size: 2vh;
  color: aliceblue;
  z-index: 1;
  margin-right: 0vw;
  margin-left: -20vw;
  /*to w poączeniu z .center (w row2) odpowiada za NAKŁADANIE SIĘ ELEMENTÓW NA SIEBIE*/
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bgGreen {
  background-color: rgb(23, 130, 60);
}

fieldset {
  border-width: 5px 0px 0px 0px;
  border-style: solid;
  border-color: rgb(23, 130, 60);
  padding: 0 35vw;
  /*20 na małym*/
  filter: drop-shadow(0 1px 1px rgba(grey, 0.25));
  height: fit-content;
  width: fit-content;
}
legend {
  width: 260px;
  /*50vw na małym*/
  height: 50px;
  margin-top: -24px;
  margin-left: 1vw;
  /*20 na małym*/
  background-color: black;
}
.namesDiv {
  background-color: rgb(23, 130, 60);
  /* padding-left: 3vw; */
  align-items: top;
  display: flex;
  flex-wrap: wrap;
  height: 40vh;
}
.names {
  font-family: "lato";
  font-size: 4vh;
  color: aliceblue;
  padding: 5vh 6vh 1vh 3vh;
}
.text {
  padding: 0vh 6vh 3vh 3vh;
  font-family: "lato";
  font-size: 2.5vh;
  color: aliceblue;
}
.profileImg {
  width: 40vh;
  height: 40vh;
  display: flex;
  padding-top: 3vh;
}
.row3 {
  margin-top: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 250px) and (max-width: 399px) {
  .names {
    font-family: "lato";
    font-size: 4vh;
    color: aliceblue;
    padding: 6vh 6vh 3vh 3vh;
  }
  .profileImg {
    width: 40vh;
    height: 40vh;
    display: flex;
    padding-top: 3vh;
  }
  .row1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 10vh;
  }

  .textDiv1 {
    background-color: rgb(23, 130, 60);
    text-align: start;
    /* padding-bottom: 3vh; */
    padding-right: 10vw;
    padding-left: 3vw;
    align-items: center;
    display: flex;
    height: fit-content;
    width: 85vw;
    padding-top: 5vh;
    font-family: "lato";
    font-size: 2vh;
    color: aliceblue;
    z-index: 1;
    padding-bottom: 3vh;
  }

  .src1Div {
    position: relative;
    margin-top: -20px;
    display: flex;
    justify-content: left;
  }

  .src1 {
    max-width: 90vw;
    height: auto;
    margin-top: -10px;
    margin-left: 3vw;
    display: flex;
  }
  .row2 {
    margin-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
  }

  .src2 {
    max-width: 90vw;
    height: auto;
    margin-right: 0%;
  }

  .text2Div {
    background-color: rgb(23, 130, 60);
    text-align: start;
    padding-bottom: 3vh;
    padding-right: 4vw;
    padding-left: 4vw;
    /* align-items: center; */
    display: flex;
    justify-content: right;
    height: 40vh;
    width: 85vw;
    padding-top: 11vw;
    font-family: "lato";
    font-size: 2vh;
    color: aliceblue;
    z-index: 1;
    margin-right: 0vw;
    margin-left: 0vw;
    /*to w poączeniu z .center (w row2) odpowiada za NAKŁADANIE SIĘ ELEMENTÓW NA SIEBIE*/
    margin-top: -5vh;
  }
  legend {
    width: 40vw;
    /*50vw na małym*/
    height: 50px;
    margin-top: -18px;
    margin-left: 0vw;
    /*20 na małym*/
    background-color: black;
  }

  fieldset {
    border-width: 5px 0px 0px 0px;
    border-style: solid;
    border-color: rgb(23, 130, 60);
    padding: 0 26vw;
    /*20 na małym*/
    filter: drop-shadow(0 1px 1px rgba(grey, 0.25));
    height: fit-content;
    width: fit-content;
  }
}
@media (min-width: 400px) and (max-width: 767px) {
  .names {
    font-family: "lato";
    font-size: 4vh;
    color: aliceblue;
    padding: 6vh 6vh 3vh 3vh;
  }
  .profileImg {
    width: 40vh;
    height: 40vh;
    display: flex;
    padding-top: 3vh;
  }
  .row1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 10vh;
  }

  .textDiv1 {
    background-color: rgb(23, 130, 60);
    text-align: start;
    /* padding-bottom: 3vh; */
    padding-right: 10vw;
    padding-left: 3vw;
    align-items: center;
    display: flex;
    height: fit-content;
    width: 85vw;
    padding-top: 5vh;
    font-family: "lato";
    font-size: 2vh;
    color: aliceblue;
    z-index: 1;
    padding-bottom: 3vh;
  }

  .src1Div {
    position: relative;
    margin-top: -20px;
    display: flex;
    justify-content: left;
  }

  .src1 {
    max-width: 90vw;
    height: auto;
    margin-top: -10px;
    margin-left: 6vw;
    display: flex;
  }

  .row2 {
    margin-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
  }

  .src2 {
    max-width: 90vw;
    height: auto;
    margin-right: 0%;
  }

  .text2Div {
    background-color: rgb(23, 130, 60);
    text-align: start;
    padding-bottom: 3vh;
    padding-right: 4vw;
    padding-left: 4vw;
    /* align-items: center; */
    display: flex;
    justify-content: right;
    height: 40vh;
    width: 85vw;
    padding-top: 11vw;
    font-family: "lato";
    font-size: 2vh;
    color: aliceblue;
    z-index: 1;
    margin-right: 0vw;
    margin-left: 0vw;
    /*to w poączeniu z .center (w row2) odpowiada za NAKŁADANIE SIĘ ELEMENTÓW NA SIEBIE*/
    margin-top: -5vh;
  }
  legend {
    width: 40vw;
    /*50vw na małym*/
    height: 50px;
    margin-top: -18px;
    margin-left: 0vw;
    /*20 na małym*/
    background-color: black;
  }

  fieldset {
    padding: 0 29vw;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  fieldset {
    padding: 0 29vw;
  }
}
