<div class="container" style="background-color: gray">
  <div class="row mt-5">
    <fieldset role="presentation">
      <!--obejmuje wszystkie elementy aktualności-->
      <legend role="presentation">
        <h2 class="textChanga text-center mb-2">Zostań członkiem KS Motus</h2>
      </legend>
    </fieldset>
  </div>
  <div class="row align-items-center justify-content-center">
    <div class="col-sm">
      <img
        src="assets/arrow1-300.png"
        alt="Wypełnij deklaracje członkowską"
        class="src"
      />
    </div>
  </div>
  <div class="row align-items-center justify-content-center">
    <div class="col-sm">
      <img
        src="assets/arrow1-300.png"
        alt="Wypełnij deklaracje członkowską"
        class="src"
      />
    </div>
  </div>
  <div class="row align-items-center justify-content-center">
    <div class="col-sm">
      <img
        src="assets/arrow1-300.png"
        alt="Wypełnij deklaracje członkowską"
        class="src"
      />
    </div>
  </div>
  <div class="row align-items-center justify-content-center">
    <div class="col-sm">
      <img
        src="assets/arrow1-300.png"
        alt="Wypełnij deklaracje członkowską"
        class="src"
      />
    </div>
  </div>
</div>
