.col-sm{
  max-width: 50%;
}
.container{
  min-height: 60vh;
}
.card {
    border: 0%;
    width: 30vw;
    background-color: black;
    margin-bottom: 2vh;
  }
  .card-body {
    border: 0%;
    background-color: rgb(23, 130, 60);
  }
  .card-img-top {
    object-fit:cover;
    object-position: top;
    height: 30vh;
    /* margin: 10px 5px 2px 1px; */
  }
  
  .card-title {
    color: aliceblue;
    margin-bottom: 0%;
    font-family: "lato";
    font-size: 3vh;
  }
  @media (min-width: 250px) and (max-width: 767px) {
    .container{
      min-height:auto;
    }
   
    .row {
      --bs-gutter-x: 0rem;
      --bs-gutter-y: 0;
    } 
  /* co tu jest nie taaak????!!!!!! */
  
    .card{
      width: 80vw;
      margin-bottom: 4vh;
    }

  }
