
    <div class="nav bg-success justify-content-evenly textFooter">
        <div class="nav-item col-sm-auto m-3 bg-success">
            <a class="nav-divnk bg-success text-white" aria-current="page" href="#">Home</a>
        </div>

        <div class="nav-item col-sm-auto dropdown bg-success m-3 bg-success">
            <a class="nav-divnk dropdown-toggle bg-success text-white" data-bs-toggle="dropdown" href="#" role="button"
                aria-expanded="false">O Klubie</a>
            <div class="dropdown-menu bg-success">
                <div><a class="dropdown-item bg-success text-white" href="#">Historia</a></div>
                <div><a class="dropdown-item bg-success text-white" href="#">Dokumenty</a></div>
            </div>
        </div>

        <div class="nav-item col-sm-auto dropdown bg-success m-3 bg-success">
            <a class="nav-divnk col-sm-auto dropdown-toggle bg-success text-white" data-bs-toggle="dropdown" href="#"
                role="button" aria-expanded="false">Sekcje sportowe</a>
            <div class="dropdown-menu bg-success">
                <div><a class="dropdown-item bg-success text-white" href="#">Sekcja siatkówki</a></div>
                <div><a class="dropdown-item bg-success text-white" href="#">Sekcja wspinaczkowa</a></div>
                <div><a class="dropdown-item bg-success text-white" href="#">Sekcja piłki nożnej</a></div>
            </div>
        </div>


        <div class="nav-item col-sm-auto m-3 bg-success">
            <a class="nav-divnk bg-success text-white fw-bold" href="#">Dołącz do nas!</a>
        </div>


        <div class="nav-item col-sm-auto m-3 bg-success">
            <a class="nav-divnk bg-success text-white" href="#">Galeria zdjęć</a>
        </div>


        <div class="nav-item col-sm-auto m-3 bg-success">
            <a class="nav-divnk bg-success text-white" href="#">Kontakt</a>
        </div>


        <!-- Add more menu items as needed -->

    </div>
