.row {
  --bs-gutter-x: 0rem;
  --bs-gutter-y: 0;
}
.support {
  font-family: "lato";
  font-size: 2vh;
  color: aliceblue;
  background-color: rgb(47, 116, 33);
  padding: 3vh;
  text-align: center;
  width: 60vw;
}

button {
  width: 20vw;
  height: 7vh;
  background-color: rgb(47, 116, 33);
  color: aliceblue;
  font-family: "lato";
  font-size: 2vh;
  border-style: hidden;
  border-radius: 10px 10px 10px 10px;
  padding: 1%;
}

button {
  z-index: 1;
}
.buttonUp {
  position: fixed;
  bottom: 0px;
  right: 0px;
  padding: 1%;
  background-color: rgb(47, 116, 33);
  border-color: aliceblue;
  width: fit-content;
  height: fit-content;
  margin-right: 3vw;
  color: aliceblue;
  font-family: "lato";
  font-size: 2vh;
  border-radius: 0%;
}
.arrow {
  height: 15px;
  margin: 0px 4px 3px;
}
.row1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7vh;
  margin-bottom: 7vh;
  padding-left: 5vw;
}

.textDiv1 {
  background-color: rgb(47, 116, 33);
  text-align: start;
  padding-top: 3vw;
  padding-bottom: 3vw;
  padding-right: 3vw;
  padding-left: 3vw;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  width: 35vw;
  font-family: "lato";
  font-size: 2vh;
  color: aliceblue;
  z-index: 1;
  margin-right: -2vw;
  /*to w poączeniu z .center (w row2) odpowiada za NAKŁADANIE SIĘ ELEMENTÓW NA SIEBIE*/
}

.src1Div {
  position: relative;
  margin-top: -20px;
  display: flex;
  justify-content: left;
}

.src1 {
  max-width: 40vw;
  height: auto;
}

.row2 {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.srcMapDiv {
  position: relative;
  margin-top: -4vh;
  display: flex;
  justify-content: center;
  z-index: 0;
}
.srcMap {
  height: 50vh;
  width: auto;
  margin-right: 15vw;
  z-index: 0;
}
.align {
  display: flex;
  justify-content: center;
}

.text2Div {
  background-color: rgb(47, 116, 33);
  text-align: start;
  padding-bottom: 3vh;
  padding-right: 4vw;
  padding-left: 3vw;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  height: 40vh;
  width: 35vw;
  padding-top: 3vw;
  font-family: "lato";
  font-size: 2vh;
  color: aliceblue;
  z-index: 1;
  margin-right: 0vw;
  margin-left: -20vw;
  /*to w poączeniu z .center (w row2) odpowiada za NAKŁADANIE SIĘ ELEMENTÓW NA SIEBIE*/
}

.order1 {
  order: 1;
}
.order2 {
  order: 2;
}

@media (min-width: 250px) and (max-width: 767px) {
  .row {
    --bs-gutter-x: 0rem;
    --bs-gutter-y: 0;
  }
  .order1 {
    order: 2;
  }
  .order2 {
    order: 1;
  }
  .row1 {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 5vh;
  }
  .textDiv1 {
    background-color: rgb(47, 116, 33);
    text-align: start;
    padding-right: 3vw;
    padding-left: 3vw;
    padding-top: 2vh;
    padding-bottom: 3vh;
    align-items: center;
    display: flex;
    height: fit-content;
    width: 95vw;
    font-family: "lato";
    font-size: 2vh;
    color: aliceblue;
    z-index: 0;
  }

  .src1Div {
    position: relative;
    margin-top: -6vh;
    display: flex;
    justify-content: center;
    z-index: 1;
  }

  .src1 {
    max-width: 87vw;
    height: auto;
    margin-top: 3vh;
    display: flex;
  }

  .row2 {
    margin-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
  }

  .text2Div {
    background-color: rgb(47, 116, 33);
    text-align: start;
    padding-bottom: 3vh;
    padding-right: 4vw;
    padding-left: 4vw;
    /* align-items: center; */
    display: flex;
    justify-content: right;
    height: 30vh;
    width: 95vw;
    padding-top: 3vh;
    font-family: "lato";
    font-size: 2vh;
    color: aliceblue;
    z-index: 0;
    margin-right: 0vw;
    margin-left: 0vw;
    /*to w poączeniu z .center (w row2) odpowiada za NAKŁADANIE SIĘ ELEMENTÓW NA SIEBIE*/
    margin-top: 0vh;
  }
  .src2Div {
    position: relative;
    margin-top: -4vh;
    display: flex;
    justify-content: center;
    z-index: 1;
  }
  .srcMap {
    max-height: 37vh;
    width: auto;
    z-index: 1;
  }
}
/* @media (min-width: 400px) and (max-width: 700px) {
  .row1 {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 5vh;
  }

  .textDiv1 {
    background-color: rgb(47, 116, 33);
    text-align: start;

    padding-right: 10vw;
    padding-left: 3vw;
    align-items: center;
    display: flex;
    height: 20vh;
    width: 85vw;
    padding-top: 5vh;
    font-family: "lato";
    font-size: 2vh;
    color: aliceblue;
    z-index: 1;
    padding-bottom: 3vh;
  }

  .src1Div {
    position: relative;
    margin-top: -20px;
    display: flex;
    justify-content: left;
  }

  .src1 {
    max-width: 87vw;
    height: auto;
    margin-top: 5vh;
    display: flex;
  }

  .btn1 {
    position: absolute;
    top: 110%;
    left: 15%;
    transform: translate(0%, 0vh);

    min-width: 70vw;

    height: 10vh;

    z-index: 1;
    background-color: aliceblue;
    color: rgb(47, 116, 33);
    border-color: aliceblue;
  }

  .intro {
    margin-top: 30vh;
  }

  .intro1 {
    margin-top: 5vh;
  }

  .row2 {
    margin-top: 15vh;
    display: flex;
    justify-content: right;
  }

  .src2 {
    max-width: 90vw;
    height: auto;
    margin-right: 0%;
  }

  .text2Div {
    background-color: rgb(47, 116, 33);
    text-align: start;
    padding-bottom: 3vh;
    padding-right: 4vw;
    padding-left: 4vw;

    display: flex;
    justify-content: right;
    height: 30vh;
    width: 85vw;
    padding-top: 11vw;
    font-family: "lato";
    font-size: 2vh;
    color: aliceblue;
    z-index: 1;
    margin-right: 0vw;
    margin-left: 0vw;
    /*to w poączeniu z .center (w row2) odpowiada za NAKŁADANIE SIĘ ELEMENTÓW NA SIEBIE 
    margin-top: -5vh;
  }

  .join {
    margin-top: -20px;
    display: flex;
    justify-content: right;
    margin-bottom: -70px;
  }

  .onPicCenter {
    position: absolute;
    top: 155vh;
    left: 50%;
    transform: translate(-32%, -310%);
  }

  .textIntro {
    padding-bottom: 0%;
  }

  .textOnPic {
    text-align: start;
    padding-bottom: 5vh;
    padding-right: 15vw;
    align-items: center;
    height: 30vh;
    width: 40vh;
  }

  .textOnPic2 {
    text-align: revert;
    padding-bottom: 5vh;
    padding-left: 4vw;
    height: 25vh;
    width: 75vw;
    margin-left: 25vw;
  }
  legend {
    width: 50vw;
    height: 50px;
    margin-top: -24px;
    margin-left: 0vw;
    background-color: black;
  }

  fieldset {
    border-width: 5px 0px 0px 0px;
    border-style: solid;
    border-color: rgb(47, 116, 33);
    padding: 0 20vw;

    filter: drop-shadow(0 1px 1px rgba(grey, 0.25));
    height: fit-content;
    width: fit-content;
  }
  .text-left {
    padding-left: 0vw;
    padding-right: 0vw;
  }
} */
