<div class="container-fluid">
  <div>
    <button
      type="button"
      *ngIf="isTopButtonVisible"
      class="buttonUp btn"
      (click)="scrollToTop()"
      data-aos="fade-up"
      data-aos-duration="3000"
      data-aos-anchor-placement="top-center"
    >
      <img src="assets/up.png" class="arrow" /> top
    </button>
  </div>
  <!-- row1 -->
  <div class="row row1">
    <div class="col-md textDiv1">
      <p>
        Nasz klub został założony z myślą o propagowaniu aktywnego stylu życia
        poprzez wspólne uprawianie sportu w zróżnicowanym towarzystwie,
        niezależnie od wieku uczestników. <br />
        Jesteśmy przekonani, że integracja młodzieży z osobami dorosłymi, jak i
        odwrotnie, korzystnie wpływa na obie grupy wiekowe.
      </p>
    </div>
    <div class="col-md src1Div">
      <img
        src="assets/IMG_3139-m_600_300_70.JPG"
        alt="motus lesko"
        class="src1"
      />
    </div>
  </div>
  <div class="w-100"></div>
  <!-- row2 -->
  <div class="row row2">
    <div class="col-sm-6 srcMapDiv order1">
      <img
        src="assets/close-up-magnifying-glass-globe_600_300_70.JPG"
        alt="motus lesko"
        class="srcMap"
      />
    </div>
    <div class="col-sm-6 text2Div order2">
      <div class="row">
        <p>
          Nasze działania skupiają się nie tylko na lokalnym kontekście,<br />
          lecz także na nawiązywaniu kontaktów z innymi klubami. <br />
          Dzięki temu umożliwiamy poszerzanie horyzontów, a także promujemy nasz
          region.<br />
        </p>
      </div>
    </div>
  </div>
  <!-- row1 -->
  <div class="row row1">
    <div class="col-md textDiv1">
      <p>
        Otwarcie podchodzimy do wielu dyscyplin sportowych,<br />
        dostosowując się do zróżnicowanych zainteresowań naszych członków.
      </p>
    </div>
    <div class="col-md src1Div">
      <img src="assets/sports-tools_600_300_70.JPG" alt="motus lesko" class="src1" />
    </div>
  </div>
  <div class="w-100"></div>
  <div class="row center">
    <div class="col-md center">
      <p class="support">
        Aby zrealizować klubowe cele, potrzebujemy wsparcia finansowego.<br />
        Jeśli podzielasz nasze przekonania i uważasz, że nasze argumenty są
        ważne, serdecznie zachęcamy Cię do udzielenia nam wsparcia lub
        przekazania tej informacji dalej!
      </p>
    </div>
  </div>
  <app-support-button></app-support-button>
</div>
