<div class="container-fluid">
  <div>
    <button
      type="button"
      *ngIf="isTopButtonVisible"
      class="buttonUp btn"
      (click)="scrollToTop()"
      data-aos="fade-up"
      data-aos-duration="3000"
      data-aos-anchor-placement="top-center"
    >
      <img src="assets/up.png" class="arrow" /> top
    </button>
  </div>
  <div class="row1">
    <div class="col-sm-6 textDiv1">
      <div class="row">
        <p>
          Nasz klub został założony z myślą o propagowaniu aktywnego stylu życia
          poprzez wspólne uprawianie sportu w zróżnicowanym towarzystwie,
          niezależnie od wieku uczestników. <br />
          Jesteśmy przekonani, że integracja młodzieży z osobami dorosłymi, jak
          i odwrotnie, <br />
          korzystnie wpływa na obie grupy wiekowe.<br />
        </p>
      </div>
    </div>
    <div class="col-sm-6 src1Div">
      <img
        src="assets/full-shot-family-cycling-together.jpg"
        alt="motus lesko"
        class="src1"
      />
    </div>
  </div>
  <div class="row1">
    <div class="col-sm-6 textDiv1">
      <div class="row center">
        <img
          src="assets/close-up-magnifying-glass-globe.jpg"
          alt="motus lesko"
          class="srcMap"
        />
        <p>
          Nasze działania skupiają się nie tylko na lokalnym kontekście,<br />
          lecz także na nawiązywaniu kontaktów z innymi klubami. <br />
          Dzięki temu umożliwiamy poszerzanie horyzontów, a także promujemy nasz
          region.<br />
        </p>
      </div>
    </div>
    <div class="col-sm-6 textDiv1">
      <div class="row">
        <img src="assets/sports-tools.jpg" alt="motus lesko" class="src1" />
        <p>
          Nasze działania skupiają się nie tylko na lokalnym kontekście,<br />
          lecz także na nawiązywaniu kontaktów z innymi klubami. <br />
          Dzięki temu umożliwiamy poszerzanie horyzontów, a także promujemy nasz
          region.<br />
        </p>
      </div>
    </div>
  </div>
  <div class="row1">
    <div class="col-sm-6 textDiv1 text-center">
      Aby zrealizować klubowe cele, potrzebujemy wsparcia finansowego.<br />
      Jeśli podzielasz nasze przekonania i uważasz, że nasze argumenty są ważne,
      serdecznie zachęcamy Cię do udzielenia nam wsparcia lub przekazania tej
      informacji dalej!
    </div>
  </div>
  <div class="container rowKonto">
    <div class="row konto">
      <p>
        Możesz nas wesprzeć wysyłając darowiznę<br />
        na numer konta KS Motus:<br />
        60 1020 2980 0000 2502 0152 4834
        <button
          (click)="copyText('60 1020 2980 0000 2502 0152 4834')"
          (click)="showNotification()"
          class="copyBtnKonto buttonBlue"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-copy"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M4 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V2Zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H6ZM2 5a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1h1v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h1v1H2Z"
            />
          </svg>
        </button>
      </p>
    </div>
  </div>
</div>
