<div class="container text-center">
  <div class="row">
    <div class="col-4 divRectangleRelativeNarrow">
      <div class="d-flex">
        <div class="vl">
          <div class="circle number">?</div>
        </div>
      </div>
    </div>
    <div class="col-8 divRectangleRelaviteWide">
      <div class="row align-items-center">
        <p class="textRectangleRelaviteWideCenter">
          Jak komunikujemy się wewnątrz klubu?
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-4 divRectangleRelativeNarrow">
        <div class="d-flex">
          <div class="vl">
            <div class="circle number">
              <img src="assets/element.png" class="elementLogo" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-8 divRectangleRelaviteWide">
        <div class="row align-items-center">
          <p class="textRectangleRelaviteWide1">
            Używamy darmowego komunikatora Elements
          </p>
          <div class="row"></div>

          <div class="col d-flex justify-content-center">
            <a
              href="https://play.google.com/store/apps/details?id=im.vector.app&hl=pl"
            >
              <img
                src="assets/google-play-badge.png"
                class="badge"
                alt="google-play"
              />
            </a>
          </div>
          <div class="col d-flex justify-content-center">
            <a
              href="https://apps.apple.com/us/app/element-messenger/id1083446067"
            >
              <img src="assets/App-store.svg" class="badge" alt="google-play" />
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4 divRectangleRelativeNarrow">
        <div class="d-flex">
          <div class="vl">
            <div class="circle number">
              <img src="assets/element.png" class="elementLogo" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-8 divRectangleRelaviteWide">
        <div class="row align-items-center">
          <p class="textRectangleRelaviteWideCenter">
            Załóż swoje konto w aplikacji
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4 divRectangleRelativeNarrow">
      <div class="d-flex">
        <div class="vl">
          <div class="circle number">
            <img src="assets/element.png" class="elementLogo" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-8 divRectangleRelaviteWide">
      <div class="row align-items-center">
        <p class="textRectangleRelaviteWide1">
          Kliknij w przycisk, aby wejść do klubowych konwersacji
        </p>
        <a
          href="https://matrix.to/#/!LXFScpvgYnhHFvqrZn:matrix.org?via=matrix.org"
          target="_blank"
          class="abtn"
        >
          <button type="button" class="btn btnBlueEnd textBtn">KS MOTUS</button>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4 divRectangleRelativeNarrow">
      <div class="d-flex">
        <div class="vl">
          <div class="circle number">
            <img src="assets/element.png" class="elementLogo" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-8 divRectangleRelaviteWide">
      <div class="row align-items-center">
        <p class="textRectangleRelaviteWide1">
          Dołącz do interesujących Cię grup <br />(siatkówka, morsowanie etc.)
        </p>
        <img src="\assets\dokumenty\siatkowka.jpg" />
      </div>
    </div>
  </div>
</div>
