.pdf {
  width: 60vw;
  height: 50vh;
}
.divRectangleRelativeNarrow {
  position: relative;
  text-align: center;
  background-color: rgba(23, 130, 60, 0.45);
  width: 20vw;
  height: 40vh;
  margin: 5vh 0 5vh 0;
  border-radius: 0%;
}

.vl {
  border-left: 6px solid rgba(23, 130, 60, 0.45);
  height: 40vh;
  margin: 0vh 0 10vh 10vw;
}
.circle {
  position: absolute;
  top: 11vh;
  right: 4vw;
  width: 10vw;
  height: 10vw;
  background: #007ae4;
  border-radius: 50%;
}
.number {
  font-family: "changa";
  font-size: 7vh;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divRectangleRelaviteWide {
  position: relative;
  text-align: center;
  background-color: rgba(23, 130, 60, 0.35);
  width: 60%;
  height: 40vh;
  margin: 5vh 0 5vh 0;
  border-radius: 0%;
}
.textRectangleRelaviteWide {
  font-family: "lato";
  font-size: 5vh;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding-top: 15vh;
}
