<!-- <div class="row center">
    <div class="col-4 divRectangleRelativeNarrow">
      <div class="d-flex">
        <div class="vl">
          <div class="circle number">?</div>
        </div>
      </div>
    </div>
    <div class="col-8 divRectangleRelaviteWide">
      <div class="row align-items-center">
        <p class="textRectangleRelaviteWide">
          Jak komunikujemy się wewnątrz klubu?
        </p>
      </div>
    </div> -->
<div class="row center topMargin">
  <fieldset role="presentation">
    <legend role="presentation">
      <h2 class="textChanga mb-2 ps-4 pe-2 text-center">
        Jak komunikujemy się wewnątrz klubu?
      </h2>
    </legend>
  </fieldset>
  <a href="assets/dokumenty/instrukcja-nowa.pdf" target="_blank" class="abtn">
    <button type="button" class="btn btnBlueEnd textBtn">
      Instrukcja instalacji komunikatora
    </button>
  </a>
</div>
<!-- 

  <object src="/assets/dokumenty/instrukcja-nowa.pdf" type="application/pdf"></object>   -->
<div class="container text-center">
  <div class="row">
    <div class="col-4 divRectangleRelativeNarrow">
      <div class="d-flex">
        <div class="vl">
          <div class="circle number">?</div>
        </div>
      </div>
    </div>
    <div class="col-8 divRectangleRelaviteWide">
      <div class="row align-items-center">
        <p class="textRectangleRelaviteWide1">
          Jak komunikujemy się wewnątrz klubu?
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-4 divRectangleRelativeNarrow">
        <div class="d-flex">
          <div class="vl">
            <div class="circle number">
              <img src="assets/element.png" class="elementLogo" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-8 divRectangleRelaviteWide">
        <div class="row align-items-center">
          <p class="textRectangleRelaviteWide1">
            Używamy darmowego komunikatora Elements
          </p>
          <div class="row"></div>

          <div class="col d-flex justify-content-center">
            <a
              href="https://play.google.com/store/apps/details?id=im.vector.app&hl=pl"
            >
              <img
                src="assets/google-play-badge.png"
                class="badge"
                alt="google-play"
              />
            </a>
          </div>
          <div class="col d-flex justify-content-center">
            <a
              href="https://apps.apple.com/us/app/element-messenger/id1083446067"
            >
              <img src="assets/App-store.svg" class="badge" alt="google-play" />
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4 divRectangleRelativeNarrow">
        <div class="d-flex">
          <div class="vl">
            <div class="circle number">
              <img src="assets/element.png" class="elementLogo" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-8 divRectangleRelaviteWide">
        <div class="row align-items-center">
          <p class="textRectangleRelaviteWide1">Załóż swoje konto</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4 divRectangleRelativeNarrow">
      <div class="d-flex">
        <div class="vl">
          <div class="circle number">
            <img src="assets/element.png" class="elementLogo" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-8 divRectangleRelaviteWide">
      <div class="row align-items-center">
        <p class="textRectangleRelaviteWide1">
          Kliknij w przycisk, aby wejść do klubowych konwersacji
        </p>
        <a
          href="https://matrix.to/#/!LXFScpvgYnhHFvqrZn:matrix.org?via=matrix.org"
          target="_blank"
          class="abtn"
        >
          <button type="button" class="btn btnBlueEnd textBtn">KS MOTUS</button>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4 divRectangleRelativeNarrow">
      <div class="d-flex">
        <div class="vl">
          <div class="circle number">
            <img src="assets/element.png" class="elementLogo" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-8 divRectangleRelaviteWide">
      <div class="row align-items-center">
        <p class="textRectangleRelaviteWide1">Załóż swoje konto</p>
      </div>
    </div>
  </div>
</div>
