<div class="container ">
  <div class="row center">
    <div class="col-4 divRectangleRelativeNarrow">
      <div class="d-flex">
        <div class="vl">
          <div
            class="circle number"
          >
            ?
          </div>
        </div>
      </div>
    </div>
    <div class="col-8 divRectangleRelaviteWide">
      <div class="row align-items-center">
        <p
          class="textRectangleRelaviteWide "
        >
        Jak komunikujemy się wewnątrz klubu?
        </p>
      </div>
    </div>
     
      <embed src="/assets/dokumenty/instrukcja-Element-KS-Motus.pdf" class="pdf" />
    </div>
  </div>

