.card {
  border: 0%;
  width: 80%;
  background-color: black;
  margin-bottom: 2vh;
}
.card-body {
  border: 0%;
  background-color: rgb(47, 116, 33);
}
.card-img-top {
  object-fit: cover;
  object-position: top;
  height: 40vh;
  /* margin: 10px 5px 2px 1px; */
}

.card-title {
  color: aliceblue;
  margin-bottom: 0%;
  font-family: "lato";
  font-size: 2vh;
}
