<div class="container">
  <div>
    <button
      type="button"
      *ngIf="isTopButtonVisible"
      class="buttonUp btn"
      (click)="scrollToTop()"
      data-aos="fade-up"
      data-aos-duration="3000"
      data-aos-anchor-placement="top-center"
    >
      <img src="assets/up.png" class="arrow" /> top
    </button>
  </div>
  <div class="row center aktualnosci">
          <!--obejmuje wszystkie elementy w pliku aktualności.json-->
    <!-- <fieldset role="presentation">
      <legend role="presentation">
        <h2 class="textChanga center mb-2">WYDARZENIA</h2>
      </legend>
    </fieldset> -->
    <!--  src="{{item.url}}"Co zrobić, żeby nie dorabiać kolejnej podstrony tylko żeby tutaj możnabyło kliknac i wyswietlic wiecej informacji? Uzyć pop-out? -->
    <div class="row">
      <div class="col-sm-4 center" *ngFor="let item of aktualnosci">
        <div class="card">
          <img class="card-img-top" [src]="item.url" [alt]="item.alt" />
          <div class="card-body">
            <h5 class="card-title">{{ item.title }}</h5>
            <div class="divDateLink">
              <span class="date">
                {{ item.date }}
              </span>
              <span class="date" *ngIf="item.AlbumName && item.AlbumName.trim().length > 0">
                <a [routerLink]="['/#album', slugify(item.AlbumName)]" routerLinkActive="active">
                  zobacz galerię zdjęć
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                    fill="currentColor" style="color: aliceblue;" class="ms-2 bi bi-arrow-right-square"
                    viewBox="0 0 16 16">
                      <path fill-rule="evenodd"
                      d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4.5 5.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                  </svg>
                </a>
              </span>
            </div>
            <p class="card-text module">{{ item.content }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
