<div class="row mt-3 mb-3 center">
    <fieldset role="presentation"> <!--obejmuje wszystkie elementy aktualności-->
        <legend role="presentation">
            <h2 class="textChanga center"><a href="#"> AKTUALNOŚCI </a></h2>
        </legend>
    </fieldset>
      
            
                <div class=" row center">
                    <div class="card ">
                        <img src="assets/IMG_3504.JPG" class="card-img-top" alt="siatkowka">
                        <div class="card-body">
                            <h5 class="card-title">Mecz siatkówki na hali SP Lesko</h5>
                            <span class="date">
                                21.09.2023
                            </span>
                            <p class="card-text">W czwartek 21.09.2023 o godzinie 19:00 odbędzie się koleżeński mecz
                                siatkówki.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row center">
                    <div class="card">
                        <img src="assets/IMG_3504.JPG" class="card-img-top" alt="siatkowka">
                        <div class="card-body">
                            <h5 class="card-title">Mecz siatkówki na hali SP Lesko</h5>
                            <span class="date">
                                21.09.2023
                            </span>
                            <p class="card-text">W czwartek 21.09.2023 o godzinie 19:00 odbędzie się koleżeński mecz
                                siatkówki.
                            </p>
                        </div>
                    </div>
       
          
   
    
</div>

