
<div class="row">
    <h1 class="textChanga text-center "><a href="#"> AKTUALNOŚCI </a></h1>
</div>
<div class="container-fluid actualnosciOverflow mb-3">
    
    <div class="row  p-3 text-center textIntro text-white">
        <div class="col"> Mecz siatkówki na hali SP Lesko<br>
            W czwartek 21.09.2023 o godzinie 19:00 odbędzie się koleżeński mecz siatkówki.

        </div>
        <div class="col"> <img src="assets/b5.JPG" alt="" class="src"> </div>
    </div>
    <!-- <div class="row  p-3 text-center textIntro">
        <div class="col"> Mecz siatkówki na hali SP Lesko<br>
            W czwartek 21.09.2023 o godzinie 19:00 odbędzie się koleżeński mecz siatkówki.

        </div>
        <div class="col"> <img src="assets/b5.JPG" alt="" class="src"> </div>
    </div>
    <div class="row  p-3 text-center textIntro">
        <div class="col"> Mecz siatkówki na hali SP Lesko<br>
            W czwartek 21.09.2023 o godzinie 19:00 odbędzie się koleżeński mecz siatkówki.

        </div>
        <div class="col"> <img src="assets/b5.JPG" alt="" class="src"> </div>
    </div> -->
</div>