.row {
  /* WAZNE! INACZEJ STRONA POSZERZA SIĘ POZA MENU */
  border: 0px;
  padding: 0%;
  margin: 0px;
}
.col-sm{
  max-width: 50%;
}
.container{
  min-height: 60vh;
}
.buttonUp {
  position: fixed;
  bottom: 0px;
  right: 0px;
  padding: 1%;
  background-color: rgb(23, 130, 60);
  border-color: aliceblue;
  width: fit-content;
  height: fit-content;
  margin-right: 3vw;
  color: aliceblue;
  font-family: "lato";
  font-size: 2vh;
  border-radius: 0%;
}
.arrow {
  height: 15px;
  margin: 0px 4px 3px;
}
.albumList {
  justify-content: center;
}

.card {
  
    width: 31vw;
  /*na małym ekranie zmienić do 100%*/
  background-color: black;
  margin-bottom: 2vh;
}
.card-body {
  min-height: 10%;
  background-color: rgb(23, 130, 60);
}
.card-img-top {
  object-fit: cover;
  object-position: center;
  height: 40vh;
  /* margin: 10px 5px 2px 1px; */
}

.card-title {
  color: aliceblue;
  margin-bottom: 0%;
  font-family: "lato";
  font-size:3vh;
}



@media (min-width: 250px) and (max-width: 767px) {
  .container{
    min-height:auto;
  }
 
  .row {
    --bs-gutter-x: 0rem;
    --bs-gutter-y: 0;
  } 
/* co tu jest nie taaak????!!!!!! */

  .card{
    width: 80vw;
    margin-bottom: 4vh;
  }

}