<div class="row g-0 justify-content-center marginTop">
  <div
    class="row g-0 justify-content-center text-center"
    data-aos="fade-down"
    data-aos-easing="linear"
    data-aos-duration="1500"
  >
    <div class="col-sm-6 divRectangle center">
      <div class="row">
        <h2
          class="number"
          data-aos="fade-down"
          data-aos-easing="linear"
          data-aos-duration="1000"
        >
          Zostań członkiem KS Motus <br />w 4 prostych krokach
        </h2>
      </div>
    </div>
  </div>
  <div
    class="row g-0 justify-content-center text-center"
    data-aos="fade-down"
    data-aos-easing="linear"
    data-aos-duration="1500"
  >
    <div class="col-sm-6 divRectangle center">
      <div class="row number">
        <p>1</p>
        <p class="row textRectangle">
          Wypełnij <br />deklarację członkowską
        </p>
      </div>
    </div>
  </div>

  <a
    href="assets/dokumenty/DEKLARACJA_CZLONKOWSKA.pdf"
    target="_blank"
    class="abtn"
  >
    <button type="button" class="btn btnBlue textBtn">
      Wydrukuj deklarację
    </button>
  </a>
</div>

<div
  class="row g-0 justify-content-center text-center"
  data-aos="fade-down"
  data-aos-easing="linear"
  data-aos-duration="1500"
>
  <div class="col-sm-6 divRectangle center">
    <div class="row number">
      2
      <p class="row textRectangle">
        Prześlij zeskanowany dokument na adres e-mail:<br />
        ksmotus@gmail.com
      </p>
    </div>
  </div>
</div>

<div
  class="row g-0 justify-content-center text-center"
  data-aos="fade-down"
  data-aos-easing="linear"
  data-aos-duration="500"
>
  <div class="col-sm-6 divRectangle center">
    <div class="row number">
      3
      <p class="row textRectangle">
        Opłać składkę członkowską (10 zł), <br />w tytule przelewu wpisując:<br />
        "Składka członkowska: imię nazwisko"
      </p>
    </div>
  </div>
</div>

<div
  class="row g-0 justify-content-center mt-4 center"
  data-aos="fade-down"
  data-aos-offset="300"
  data-aos-easing="ease-in-sine"
>
  <div class="col-sm-6 divRectangle center">
    <div class="row number">
      4
      <p class="row textRectangle">
        Podpisany oryginał wyślij na adres: <br />
        ul. Osiedlowa 17, 38-600 Lesko
      </p>
    </div>
  </div>
</div>

<div
  class="row g-0 justify-content-center mt-4 center"
  data-aos="fade-down"
  data-aos-offset="300"
  data-aos-easing="ease-in-sine"
>
  <div class="col-sm-6 divRectangle center">
    <div class="row number">
        WITAJ W KS MOTUS!
      <p class=" item" data-aos="example-anim3">
        <img
        src="assets/vBall.png"
        alt="v ball"
        style="height: 20%; width: 20%"
        class="mt-4"
      />
      </p>
    </div>
  </div>
</div>

  

