
<div class="container">
    <div>
        <button
          type="button"
          *ngIf="isTopButtonVisible"
          class="buttonUp btn"
          (click)="scrollToTop()"
          data-aos="fade-up"
          data-aos-duration="3000"
          data-aos-anchor-placement="top-center"
        >
          <img src="assets/up.png" class="arrow" /> top
        </button>
      </div>
<fieldset role="presentation">
    <!--obejmuje wszystkie elementy aktualności-->
    <legend role="presentation">
      <h2 class="textChanga center mb-2 ps-3">STATUT KLUBU SPORTOWEGO „MOTUS LESKO”</h2>
    </legend>
  </fieldset>
<div class="row">
  <div class="col-sm textStat">
 
    <p class="text-center fw-bold fw-bold">
      Rozdział I Postanowienia ogólne<br />
      § 1<br />
    </p>
    <p class="text-left">
      1. Stowarzyszenie o nazwie Klub Sportowy Motus Lesko jest organizacją
      pozarządową o celach niezarobkowych.<br />
      2. Stowarzyszenie nosi nazwę Klub Sportowy Motus Lesko zwane dalej Klubem
      lub Stowarzyszeniem.<br />
      3. Klub używa nazwy skróconej „KS Motus Lesko”.<br />
    </p>
    <p class="text-center fw-bold fw-bold">§ 2</p>
    <br />
    <p class="text-left">
      Terenem działania Klubu jest terytorium Rzeczpospolitej Polskiej. Dla
      właściwego realizowania swoich celów Klub może prowadzić działalność poza
      granicami Rzeczypospolitej Polskiej, zaś siedzibą jest miasto Lesko.<br />
    </p>
    <p class="text-center fw-bold fw-bold">§ 3</p>
    <br />
    <p class="text-left">
      1. Stowarzyszenie działa zgodnie z ustawą z dnia 25 czerwca 2010r. o
      sporcie (Dz. U. z 2010 r. Nr 151, poz. 1014 ze zm. ), ustawą z 7 kwietnia
      1989 r. – Prawo o stowarzyszeniach (Dz. U. z 2001 r. nr 79, poz. 855 ze
      zm. ) oraz niniejszym statutem.<br />
      2. Klub jest stowarzyszeniem w rozumieniu art. 4 ust. 7 ustawy o sporcie i
      z tego tytułu podlega wpisowi do ewidencji klubów nie prowadzących
      działalności gospodarczej Starosty powiatu leskiego oraz posiada osobowość
      prawną.<br />
      3. Rok obrotowy Stowarzyszenia trwa do ostatniego dnia czerwca.<br />
      4. Klub może być członkiem organizacji o podobnym profilu działania.<br />
      § 4<br />
      1. Klub ma prawo używać pieczęci oraz posiadać godło, flagę, barwy i
      odznakę według wzoru, kształtu i treści ustalonej przez Zarząd Klubu.<br />
      2. Klub może prowadzić oficjalną stronę internetową.<br />
    </p>
    <p class="text-center fw-bold fw-bold">
      Rozdział II Cele i środki działania<br />
      §5
    </p>
    <br />
    <p class="text-left">
      1. Celem klubu jest:<br />
      1) Krzewienie kultury fizycznej wśród dzieci , młodzieży i dorosłych na
      terenie działania Klubu oraz wychowywanie przez kulturę fizyczną,<br />
      2) Ochrona i promocja zdrowia poprzez sport,<br />
      3) Propagowanie bezpieczeństwa oraz przeciwdziałanie patologiom społecznym
      poprzez sport,<br />
      4) Wspieranie i upowszechnianie kultury fizycznej,<br />
      5) Wspieranie i prowadzenie zajęć sportowych w różnych dyscyplinach sportu
      ze szczególnym uwzględnieniem siatkówki,<br />
      6) Działalność na rzecz dzieci i młodzieży,<br />
      7) Promocja i organizacja wolontariatu,<br />
      8) Przeciwdziałanie uzależnieniom i patologiom społecznym,<br />
      9) Promocja Leska i Bieszczad na terenie kraju za granicą,<br />
      2. Klub realizuje swe cele poprzez:<br />
      1) współdziałanie z organami samorządów terytorialnych i organami władz
      państwowych w celu zapewnienia członkom Klubu właściwych warunków do
      uprawiania sportu,<br />
      2) Uczestniczenie w rozgrywkach i zawodach sportowych rangi krajowej i
      międzynarodowej,<br />
      3) Organizowanie zawodów, imprez sportowych i rekreacyjnych,<br />
      4) Prowadzenie działalności szkoleniowej w zakresie prowadzonych w Klubie
      dyscyplin sportowych,<br />
      5) Organizowanie zgrupowań sportowych oraz obozów wypoczynkowych dla
      członków i sympatyków Klubu,<br />
      6) Sprawowanie opieki wychowawczej i szkoleniowej nad członkami Klubu,<br />
      7) Realizowanie działań z profilaktyki uzależnień w ramach programów
      samorządowych i rządowych,<br />
      8) Promocję zdrowia,<br />
      9) Edukację zdrowotną dostosowaną do potrzeb różnych grup społecznych w
      szczególności dzieci i młodzieży oraz osób starszych,<br />
      10) Kształtowanie pozytywnych cech charakteru i osobowości poprzez
      sport,<br />
      11) Popularyzację wiedzy z zakresu kultury fizycznej i sportu.<br />
    </p>
    <p class="text-center fw-bold fw-bold">§ 6<br /></p>
    <p class="text-left">
      Klub realizuje swoje zadania statutowe we współdziałaniu z władzami
      samorządowymi i państwowymi oraz stowarzyszeniami i związkami
      sportowymi.<br />
    </p>
    <p class="text-center fw-bold fw-bold">§ 7<br /></p>
    <p class="text-left">
      1. Klub opiera swa działalność przede wszystkim na społecznej pracy swoich
      członków, sympatyków i wolontariuszy.<br />
      2. Klub może skupiać wokół siebie firmy, instytucje i osoby fizyczne
      wyrażające wolę wspierania statutowej działalności Stowarzyszenia.<br />
      3. Dla realizacji określonych celów statutowych Klub może zatrudniać
      pracowników, w tym swoich członków.<br />
    </p>
    <p class="text-center fw-bold fw-bold">§8</p>
    <br />
    <p class="text-left">
      1. Dla podniesienia poziomu prowadzonych działań Stowarzyszenie może
      powoływać sekcje jako funkcjonalnie i organizacyjnie wyspecjalizowane
      jednostki zajmujące się konkretną dziedziną działań Stowarzyszenia.<br />
      2. Sekcje nie posiadają odrębnej osobowości prawnej i działają jedynie w
      ramach Stowarzyszenia, mogą jednak posługiwać się nazwą własną obok nazwy
      Stowarzyszenia.
    </p>
    <br />

    <p class="text-center fw-bold fw-bold">§9</p>
    <br />
    <p class="text-left">
      1. Sekcją kieruje kierownik.<br />
      2. Sekcję oraz jej kierownika, na wniosek członków Stowarzyszenia powołuje
      Zarząd.<br />
      Rozdział III Członkowie Klubu, ich prawa i obowiązki<br />
    </p>
    <p class="text-center fw-bold fw-bold">§ 10</p>
    <br />
    <p class="text-left">
      Członkowie Klubu dzielą się na:<br />
      1) Zwyczajnych,<br />
      2) Wspierających,<br />
      3) Honorowych.<br />
    </p>
    <p class="text-center fw-bold fw-bold">§ 11</p>
    <br />
    <p class="text-left">
      1. Członkami zwyczajnymi Klubu może zostać osoba fizyczna, która złoży
      pisemną deklarację i zostanie wpisana w rejestr członków Klubu na
      podstawie uchwały Zarządu.<br />
      2. Małoletni poniżej 16 roku życia, mogą być członkami Klubu za zgodą ich
      przedstawicieli ustawowych.<br />
    </p>
    <p class="text-center fw-bold fw-bold">§ 12</p>
    <br />
    <p class="text-left">
      Członkowie zwyczajni mają prawo do:<br />
      1) Uczestnictwa w Walnych Zebraniach Członków z biernym i czynnym prawem
      wyborczym i prawem do głosowania po ukończeniu 16 roku życia, z tym że w
      składzie Zarządu większość muszą stanowić osoby o pełnej zdolności do
      czynności prawnych (ukończyły 18 lat),<br />
      2) Zgłaszania propozycji i wniosków wobec władz Klubu,<br />
      3) Uczestnictwa w zawodach i imprezach sportowych organizowanych przez
      Klub,<br />
      4) Korzystania z wszelkich urządzeń będących w dyspozycji Klubu,<br />
      5) Korzystania z innych uprawnień określonych uchwałą Zarządu Klubu.<br />
      § 13<br />
      Członkami wspierającymi mogą być osoby fizyczne i osoby prawne, które
      popierają cele Klubu, zostaną przyjęte przez Zarząd i zadeklarują pomoc
      materialno-finansową lub inną dla Klubu.<br />
    </p>
    <p class="text-center fw-bold fw-bold">§ 14</p>
    <br />
    <p class="text-left">
      Członkowie wspierający mają prawo do:<br />
      1) Uczestniczenia bezpośrednio lub poprzez swoich delegatów w Walnych
      Zebraniach Członków Klubu z głosem doradczym,<br />
      2) Zgłaszania wniosków i propozycji wobec władz Klubu,<br />
      3) Korzystania z innych uprawnień określonych przez Zarząd Klubu.<br />
    </p>
    <p class="text-center fw-bold fw-bold">§ 15</p>
    <br />
    <p class="text-left">
      Członkami honorowymi mogą być osoby fizyczne niezależnie od obywatelstwa
      zasłużone szczególnie dla rozwoju Klubu. Godność członka honorowego nadaje
      Walne Zebranie Klubu na wniosek Zarządu. Członkowie honorowi mają wszelkie
      prawa członków zwyczajnych z wyjątkiem biernego prawa wyborczego.<br />
    </p>
    <p class="text-center fw-bold fw-bold">§ 16</p>
    <br />
    <p class="text-left">
      Do obowiązków członków Klubu należy:<br />
      1) Czynny udział w działalności Klubu,<br />
      2) Przestrzeganie postanowień statutu i uchwał władz Klubu,<br />
      3) Godne reprezentowanie Klubu,<br />
      4) Płacenie składek na zasadach przyjętych uchwałą Zarządu, za wyjątkiem
      członków wspierających i honorowych.<br />
    </p>
    <p class="text-center fw-bold fw-bold">§ 17</p>
    <br />
    <p class="text-left">
      1. Członkowstwo w Klubie ustaje poprzez:<br />
      1) Dobrowolne wystąpienie zgłoszone na piśmie do Zarządu,<br />
      2) Skreślenie z listy członków uchwałą Zarządu w przypadku działania
      członka na szkodę Klubu,<br />
      3) Rozwiązanie się Klubu,<br />
      4) Śmierć członka.<br />
      2. Od uchwały Zarządu o skreśleniu z listy członków Klubu, przysługuje
      stronie odwołanie do Walnego Zebrania Członków, w terminie 30 dni od daty
      doręczenia skreślonemu członkowi uchwały wraz z uzasadnieniem. Odwołanie
      wnosi się za pośrednictwem Zarządu. Walne Zebranie Członków rozpatruje
      odwołanie na najbliższych obradach a uchwała Walnego Zebrania Członków
      jest ostateczna.<br />
      Rozdział IV Władze Klubu<br />
    </p>
    <p class="text-center fw-bold fw-bold">§ 18</p>
    <br />
    <p class="text-left">
      1. Władzami Klubu są:<br />
      1) Walne Zebranie Członków Klubu,<br />
      2) Zarząd,<br />
      3) Komisja Rewizyjna.<br />
      2. Kadencja Zarządu i Komisji Rewizyjnej trwa 2 lata, a ich wybór
      następuje w głosowaniu tajnym lub jawnym w zależności od decyzji Walnego
      Zebrania Członków Klubu.<br />
      3. Uchwały wszystkich władz Klubu zapadają zwykłą większością głosów o ile
      postanowienia statutu nie stanowią inaczej.<br />
    </p>
    <p class="text-center fw-bold fw-bold">§ 19</p>
    <br />
    <p class="text-left">
      1. Walne Zebranie Członków Klubu jest najwyższą władzą Klubu i jest
      zwoływane przez Zarząd Klubu.<br />
      2. Walne Zebranie Sprawozdawczo – Wyborcze Członków Klubu zwoływane jest
      przez Zarząd raz na 2 lata.<br />
      3. Walne Zebranie Sprawozdawcze zwoływane jest przez Zarząd raz na rok.<br />
      4. Nadzwyczajne Walne Zebranie Członków Klubu zwoływane jest przez
      Zarząd:<br />
      1) Z własnej inicjatywy członków Zarządu – na podstawie uchwały
      Zarządu,<br />
      2) Na wniosek Komisji Rewizyjnej,<br />
      3) Na wniosek 51 % ogółu członków.<br />
      5. Nadzwyczajne Walne Zebranie Członków Klubu odbywa się nie później niż w
      ciągu 1 miesiąca od złożenia wniosku lub podjęcia uchwały i obraduje nad
      sprawami, dla których zostało zwołane.<br />
      6. O terminie, miejscu i porządku obrad Walnego Zebrania Zarząd zawiadamia
      członków co najmniej na 14 Dni przed terminem Walnego Zebrania.<br />
      7. Walne Zebrania mogą się odbywać przy wykorzystaniu środków komunikacji
      elektronicznej.<br />
    </p>
    <p class="text-center fw-bold fw-bold">§20</p>
    <br />
    <p class="text-left">
      1. Do wyłącznej kompetencji Walnego Zebrania Członków Klubu należy:<br />
      1) Uchwalenie ogólnych programów sportowej, organizacyjnej i finansowej
      działalności Klubu,<br />
      2) Podejmowanie uchwał w sprawach majątkowych Klubu,<br />
      3) Rozpatrywanie i przyjmowanie sprawozdań Zarządu i Komisji
      Rewizyjnej,<br />
      4) Uchwalanie na wniosek Komisji Rewizyjnej absolutorium dla Zarządu
      Klubu,<br />
      5) Wybór i odwołanie Zarządu i Komisji Rewizyjnej,<br />
      6) Podejmowanie uchwał o zmianie statutu lub rozwiązania się Klubu,<br />
      7) Zatwierdzanie regulaminów: Zarządu, Komisji Rewizyjnej, Wyróżnień,
      nagród i kar,<br />
      8) Rozpatrywanie i rozstrzyganie innych spraw wniesionych pod obrady
      Walnego Zebrania,<br />
      9) Rozpatrywanie odwołań od uchwał Zarządu w sprawach członkostwa tj.:
      zawieszenia w prawach członka, skreślenia z listy członków Klubu oraz w
      sprawie zawieszenia w czynnościach członków Zarządu i Komisji Rewizyjnej
      Klubu.<br />
      2. Walne Zebranie Klubu jest prawomocne w pierwszym terminie przy
      obecności , co najmniej 51% członków uprawnionych do głosowania, a w
      drugim terminie bez względu na liczbę obecnych, o ile termin ten był
      podany w zawiadomieniu.<br />
      3. W Walnym Zebraniu Klubu mogą brać udział z głosem doradczym osoby
      zaproszone przez Zarząd, niezależnie od osób, którym uczestnictwo w Walnym
      Zebraniu przysługuje na mocy niniejszego statutu.<br />
    </p>

    <p class="text-center fw-bold">§ 21</p>
    <br />
    <p class="text-left">
      1. Zarząd Klubu składa się z od 2 do 5 członków wybieranych przez Walne
      Zebranie Członków Klubu. O liczbie członków Zarządu na daną kadencję
      decyduje uchwałą Walne Zebranie Członków Klubu.<br />
      2. Zarząd ze swojego składu wybiera Prezesa i Wiceprezesa/Wiceprezesów z
      funkcjami Skarbnika oraz Sekretarza.<br />
      3. Zarząd Klubu działa w oparciu o regulamin zatwierdzony przez Walne
      Zebranie Członków Klubu.<br />
      4. Zebrania Zarządu Klubu odbywają się w miarę potrzeby, nie rzadziej
      jednak niż raz na rok.<br />
      5. Do ważności uchwał Zarządu Klubu konieczna jest obecność, co najmniej
      połowy składu członków Zarządu.<br />
      6. W okresie pomiędzy posiedzeniami Zarządu jego uprawnienia przysługują
      Prezesowi i Wiceprezesom.<br />
      7. W przypadku ustąpienia członków Zarządu Klubu i Komisji Rewizyjnej
      przysługuje prawo kooptacji.<br />
    </p>
    <p class="text-center fw-bold">§ 22</p>
    <br />
    <p class="text-left">
      Do zadań Zarządu klubu należy kierowanie bieżącą działalnością Klubu w
      okresach pomiędzy Walnymi Zebraniami członków Klubu, a w szczególności:<br />
      1) Reprezentowanie Klubu na zewnątrz i działanie w jego imieniu,<br />
      2) Wykonywanie uchwał Walnego Zebrania Klubu,<br />
      3) Uchwalanie okresowych planów działania i preliminarzy budżetowych,<br />
      4) Powoływanie i rozwiązywanie komisji problemowych<br />
      5) Przyjmowanie, zawieszanie i skreślanie członków, wymierzanie kar
      regulaminowych,<br />
      6) Zarządzanie majątkiem i funduszami Klubu zgodnie z obowiązującymi
      przepisami,<br />
      7) Składanie sprawozdań z działalności Klubu,<br />
      8) Uchwalanie wysokości składek członkowskich,<br />
      9) Pozyskiwanie środków finansowych na działalność Klubu,<br />
      10) Zwoływanie Walnych Zebrań Członków Klubu,<br />
      11) Uchwalanie regulaminów wewnętrznych Klubu nie zastrzeżonych do
      kompetencji innych organów władzy,<br />
      12) Powoływanie sekcji sportowych w Klubie,<br />
      13) Bieżące dysponowanie majątkiem Klubu,<br />
      14) Uchwalanie innych aktów wewnętrznych.<br />
    </p>
    <p class="text-center fw-bold">§ 23</p>
    <br />
    <p class="text-left">
      1. Członek Zarządu Klubu może być zawieszony w czynnościach Zarządu,
      jeżeli nie wykonuje przyjętych obowiązków, działa niezgodnie ze statutem
      bądź w inny sposób stracił zaufanie członków Klubu.<br />
      2. Uchwałę o zawieszeniu w czynnościach członka zarządu podejmuje zarząd
      większością głosów przy obecności minimum 1/2 członków Zarządu
      uprawnionych do głosowania. Uchwały podejmowane przez Zarząd, przy braku
      jednomyślności, rozstrzyga głos przewodniczącego posiedzenia.<br />
      3. Zawieszony członek Zarządu ma prawo odwołania się do Walnego Zebrania
      Członków Klubu w ciągu 30 dni od dnia otrzymania uchwały o zawieszeniu.<br />
    </p>
    <p class="text-center fw-bold">§ 24</p>
    <br />
    <p class="text-left">
      1. Komisja Rewizyjna jest organem kontrolującym całokształt działalności
      Klubu.<br />
      2. Komisja Rewizyjna składa się z 2 członków wybieranych przez Walne
      Zebranie Członków Klubu.<br />
      3. Komisja wybiera ze swego grona przewodniczącego.<br />
      4. Komisja Rewizyjna działa w oparciu o regulamin zatwierdzony przez Walne
      Zebranie Członków Klubu. 5.<br />
      Do czynności Komisji Rewizyjne należy:<br />
      1) Przeprowadzenie okresowych kontroli działalności statutowej i
      finansowej Klubu,<br />
      2) Wydawanie zaleceń pokontrolnych w przypadku stwierdzenia uchybień w
      działalności, określenie terminów oraz sposobów ich usunięcia,<br />
      3) Składanie sprawozdań z całokształtu swej działalności na Walnym
      Zebraniu oraz stawianie wniosku o udzielanie lub odmowę udzielenia
      absolutorium ustępującemu Zarządowi,<br />
      4) Składanie zastrzeżeń w stosunku do projektowanych uchwał, postanowień i
      przedsięwzięć Zarządu, jeżeli Komisja dojdzie do wniosku, że spowodują one
      lub mogą spowodować nieprawidłowości w działaniu Klubu,<br />
      5) Występowanie z żądaniem zwołania Nadzwyczajnego walnego Zebrania Klubu,
      względnie z wnioskiem o zwołanie posiedzenia Zarządu w przypadku
      stwierdzenia niezgodnych z prawem lub Statutem bądź istotnymi interesami
      Klubu działań Zarządu.<br />
    </p>
    <p class="text-center fw-bold">§ 25</p>
    <br />
    <p class="text-left">
      1. Członek Komisji Rewizyjnej może być zawieszony w czynnościach, jeżeli
      nie wykonuje przyjętych obowiązków, działa niezgodnie ze Statutem, bądź w
      inny sposób zawiódł zaufanie członków Klubu.<br />
      2. Uchwałę o zawieszeniu w czynnościach członka Komisji Rewizyjnej
      podejmuje Komisja Rewizyjna większością 2/3 głosów, przy obecności,
      wszystkich 3 członków uprawnionych do głosowania. Uchwały podejmowane w
      obecności 2 członków Komisji, przy braku jednomyślności, rozstrzyga głos
      przewodniczącego posiedzenia.<br />
      3. Zawieszony członek Komisji Rewizyjnej ma prawo odwołać się do Walnego
      Zebrania Członków Klubu w terminie 30 dni od dnia otrzymania uchwały o
      zawieszeniu.<br />
    </p>
    <p class="text-center fw-bold">§ 26</p>
    <br />
    <p class="text-left">
      W przypadku powstania wakatu w Zarządzie lub Komisji Rewizyjnej władzom
      tym przysługuje prawo dokooptowania nowych członków spośród członków
      Klubu. Liczba osób dokooptowanych nie może przekroczyć 1/3 liczby członków
      pochodzących z wyboru.<br />
      Rozdział V Wyróżnienia i kary<br />
    </p>
    <p class="text-center fw-bold">§ 27</p>
    <br />
    <p class="text-left">
      Za aktywny udział w realizacji zadań Klubu przyznawane są wyróżnienia i
      nagrody. Zasady oraz tryb przyznawania wyróżnień, nagród i kar określa
      regulamin opracowany przez Zarząd Klubu.<br />
    </p>
    <p class="text-center fw-bold">§ 28</p>
    <br />
    <p class="text-left">
      Za szczególną działalność na szkodę Klubu, Stowarzyszenie może dochodzić
      swoich praw na drodze sądowej.<br />
      Rozdział VI Majątek i fundusze Klubu<br />
    </p>
    <p class="text-center fw-bold">§ 29</p>
    <br />
    <p class="text-left">
      1. Na majątek Klubu składają się: nieruchomości, ruchomości oraz
      fundusze.<br />
      2. Na fundusze Klubu składają się:<br />
      1) Składki członkowskie,<br />
      2) Darowizny i zapisy,<br />
      3) Dotacje,<br />
      4) Dochody z majątku,<br />
      5) Dochody z działalności statutowej Klubu,<br />
      6) Inne źródła przewidziane obowiązującymi normami prawnymi w Polsce i
      Unii Europejskiej dla tego rodzaju prowadzonej aktywności społecznej.<br />
    </p>
    <p class="text-center fw-bold">§ 56</p>
    <br />
    <p class="text-left">
      1. Majątek Stowarzyszenia przeznaczony jest w całości na realizację
      statutowych celów Stowarzyszenia oraz na pokrycie niezbędnych kosztów.
      2.<br />
      Funduszami i majątkiem Stowarzyszenia zarządza Zarząd.<br />
    </p>
    <p class="text-center fw-bold">§ 30</p>
    <br />
    <p class="text-left">
      1. Dla ważności oświadczeń w zakresie podejmowania zobowiązań majątkowych
      oraz udzielania pełnomocnictw wymagany jest podpis Prezesa jednoosobowo
      lub podpisy dwóch Wiceprezesów łącznie.<br />
      2. Do składania oświadczeń woli oraz reprezentowania Klubu w zakresie
      bieżących spraw związanych z funkcjonowaniem Klubu nie rodzących skutków
      finansowych dla Klubu wymagany jest samodzielny podpis jednego członka
      Zarządu.<br />
    </p>
    <p class="text-center fw-bold">§ 31<br /></p>
    <p class="text-left">
      Klub nie może:<br />
      1) Udzielać pożyczek lub zabezpieczać zobowiązań swoim majątkiem w
      stosunku do członków Klubu, członków organów Klubu, pracowników Klubu oraz
      osób, z którymi pracownicy pozostają w związku małżeńskim albo w stosunku
      pokrewieństwa lub powinowactwa w linii prostej, pokrewieństwa lub
      powinowactwa w linii bocznej do drugiego stopnia albo są związani z tytułu
      przysposobienia, opieki lub kurateli.<br />
      2) Przekazywać swego majątku na rzecz członków Klubu, członków organów
      Klubu lub pracowników oraz ich osób bliskich, na zasadach innych niż w
      stosunku do osób trzecich, w szczególności jeśli to przekazanie następuje
      bezpłatnie lub na preferencyjnych warunkach.<br />
      3) Wykorzystywać swego majątku na rzecz członków Klubu, członków organów
      Klubu lub pracowników oraz ich osób bliskich na zasadach innych niż w
      stosunku do osób trzecich chyba, że to wykorzystanie bezpośrednio wynika
      ze statutowego celu Klubu.<br />
      4) Dokonywać zakupu na szczególnych zasadach towarów i usług od podmiotów,
      w których uczestniczą członkowie Klubu, członkowie organów Klubu lub
      pracownicy oraz ich osoby bliskie.<br />
      Rozdział VII Postanowienia końcowe<br />
    </p>
    <p class="text-center fw-bold">§ 32<br /></p>
    <p class="text-left">
      1. Zmiany Statutu Klubu wymagają uchwały Walnego Zebrania Członków Klubu
      podjętej większością 50% głosów przy obecności przynajmniej 51%
      uprawnionych do głosowania.<br />
      2. Zmiana Statutu dla swej ważności wymaga zatwierdzenia przez organ
      ewidencyjny.<br />
    </p>
    <p class="text-center fw-bold">§ 33<br /></p>
    <p class="text-left">
      1. Rozwiązanie Klubu może nastąpić na podstawie uchwały Walnego Zebrania
      Członków Klubu podjętej większością 2/3 głosów przy obecności co najmniej
      2/3 liczby członków uprawnionych do głosowania.<br />
      2. Uchwała o rozwiązaniu Klubu określa tryb likwidacji, oraz cel, na jaki
      ma być przeznaczony jego majątek.<br />
      3. Po zakończeniu likwidacji Klubu likwidator występuje do organu
      ewidencyjnego z wnioskiem o wykreślenie Klubu z ewidencji.<br />
      Lesko, 16.06.2023r.
    </p>
  </div>
</div>
</div>