<nav class="navbar navbar-expand-lg navbar-dark bg-success textMenu fixed-top ">
    <button class="navbar-toggler bg-success" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ps-3 justify-content-evenly" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <div class="nav-item col-sm-auto m-3 bg-success">
                    <a class="nav-divnk bg-success text-white" aria-current="page" href="#">Home</a>
                </div>
            </li>
            <li class="nav-item">
                <div class="nav-item col-sm-auto dropdown bg-success m-3 bg-success">
                    <a class="nav-divnk dropdown-toggle bg-success text-white" data-bs-toggle="dropdown" href="#"
                        role="button" aria-expanded="false">O Klubie</a>
                    <div class="dropdown-menu bg-success">
                        <div><a class="dropdown-item bg-success text-white" href="#">Historia</a></div>
                        <div><a class="dropdown-item bg-success text-white" href="#">Dokumenty</a></div>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <div class="nav-item col-sm-auto dropdown bg-success m-3 bg-success">
                    <a class="nav-divnk col-sm-auto dropdown-toggle bg-success text-white" data-bs-toggle="dropdown"
                        href="#" role="button" aria-expanded="false">Sekcje sportowe</a>
                    <div class="dropdown-menu bg-success">
                        <div><a class="dropdown-item bg-success text-white" href="#">Sekcja siatkówki</a></div>
                        <div><a class="dropdown-item bg-success text-white" href="#">Sekcja wspinaczkowa</a></div>
                        <div><a class="dropdown-item bg-success text-white" href="#">Sekcja piłki nożnej</a></div>
                    </div>
                </div>
            </li>
            <li>
                <div class="nav-item col-sm-auto m-3 bg-success">
                    <a class="nav-divnk bg-success text-white fw-bold" href="#">Dołącz do nas!</a>
                </div>
            </li>
            <li>
                <div class="nav-item col-sm-auto m-3 bg-success">
                    <a class="nav-divnk bg-success text-white" href="#">Galeria zdjęć</a>
                </div>
            </li>
            <li>
                <div class="nav-item col-sm-auto m-3 bg-success">
                    <a class="nav-divnk bg-success text-white" href="#">Kontakt</a>
                </div>
            </li>

            <!-- Add more menu items as needed -->
        </ul>
    </div>
</nav>