.bgMenu{
    background-color: rgb(47, 116, 33);
    color: aliceblue;
    font-family: 'lato';
    font-size: 3vh;
}
nav{
    position: -webkit-sticky; /* Safari */
    position:sticky;
    top: 0;
    z-index: 2;
}