/* .bgPic{
    background: url('src/assets/banner3.jpg') no-repeat center top fixed;
} */
.row {
  --bs-gutter-x: 0rem;
  --bs-gutter-y: 0;
}
.textL {
  color: aliceblue;
  font-family: "lato";
  font-size: 2.5vh;
}
.colCon {
  height: 8vh;
  width: 94vw;
  background-color: rgb(23, 130, 60);
  color: aliceblue;
  font-family: "lato";
  font-size: 2vh;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 35vw 0 0;
  text-align: end;
}
.col-md {
  margin-left: 2vw;
  margin-right: auto;
}
.col-sm {
  flex: 0 0 auto;
  width: 30vw;
  padding-left: 15vw;
}
iframe {
  height: 50vh;
  width: 80vw;
}
.contactForm {
  color: aliceblue;
  font-family: "lato";
  font-size: 2vh;
  padding-top: 2vh;
  width: auto;
  background-color: black;
  border-radius: 10px 10px 10px 10px;
}
label {
  color: aliceblue;
  font-family: "lato";
  font-size: 2vh;
  margin-top: 2vh;
}
input {
  width: 20vw;
  margin-top: 1vh;
}
textarea {
  width: 30vw;
}
button {
  width: 20vw;
  height: 7vh;
  background-color: rgb(23, 130, 60);
  color: aliceblue;
  font-family: "changa";
  font-size: 2vh;
  border-style: hidden;
  border-radius: 10px 10px 10px 10px;
  padding-left: 4vw;
}

.copyBtn {
  width: auto;
  height: auto;
}

.order1 {
  order: 1;
}
.order2 {
  order: 2;
}
@media (min-width: 250px) and (max-width: 400px) {
  .colCon {
    height: 8vh;
    width: 94vw;
    background-color: rgb(23, 130, 60);
    color: aliceblue;
    font-family: "lato";
    font-size: 1.5vh;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 17vw 0 0;
    text-align: end;
  }
  .col-md {
    margin-left: 0vw;
    margin-right: 0vw;
    padding-left: 0vw;
  }
  .col-sm {
    flex: 0 0 auto;
    width: auto;
    padding-left: 5vw;
  }

  input {
    width: 60vw;
    margin-top: 1vh;
  }
  textarea {
    width: 75vw;
  }
  button {
    width: 60vw;
    height: 7vh;
  }
  .order1 {
    order: 2;
    padding-top: 5vh;
  }
  .order2 {
    order: 1;
  }
}
@media (min-width: 401px) and (max-width: 719px) {
  .row{
    --bs-gutter-x: 0rem !important;
    --bs-gutter-y: 0;
  }
  .colCon {
    height: 8vh;
    width: 85vw;
    background-color: rgb(23, 130, 60);
    color: aliceblue;
    font-family: "lato";
    font-size: 1.5vh;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 17vw 0 0;
    text-align: end;
  }
  .col-md {
    margin-left: 3vw;
    margin-right: 0vw;
    padding-left: 0vw;
  }
  .col-sm {
    flex: 0 0 auto;
    width: auto;
    padding-left: 5vw;
  }

  input {
    width: 60vw;
    margin-top: 1vh;
  }
  textarea {
    width: 75vw;
  }
  button {
    width: 60vw;
    height: 7vh;
  }
  .order1 {
    order: 2;
    padding-top: 5vh;
  }
  .order2 {
    order: 1;
  }
}

@media (min-width: 720px) and (max-width: 767px) {
  .colCon {
    height: 8vh;
    width: 94vw;
    background-color: rgb(23, 130, 60);
    color: aliceblue;
    font-family: "lato";
    font-size: 2vh;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 30vw 0 0;
    text-align: end;
  }
  .col-md {
    margin-left: 0vw;
    margin-right: 0vw;
    padding-left: 0vw;
  }
  .col-sm {
    flex: 0 0 auto;
    width: auto;
    padding-left: 5vw;
  }

  input {
    width: 60vw;
    margin-top: 1vh;
  }
  textarea {
    width: 75vw;
  }
  button {
    width: 60vw;
    height: 7vh;
  }
  .order1 {
    order: 2;
    padding-top: 5vh;
  }
  .order2 {
    order: 1;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .colCon {
    height: 8vh;
    width: 94vw;
    background-color: rgb(23, 130, 60);
    color: aliceblue;
    font-family: "lato";
    font-size: 2vh;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 30vw 0 0;
    text-align: end;
  }
  .col-md {
    margin-left: 1vw;
    margin-right: 1vw;
    padding-left: 0vw;
  }
  .col-sm {
    flex: 0 0 auto;
    width: auto;
    padding-left: 5vw;
  }

  input {
    width: 60vw;
    margin-top: 1vh;
  }
  textarea {
    width: 75vw;
  }
  button {
    width: 60vw;
    height: 7vh;
  }
  .order1 {
    order: 2;
    padding-top: 5vh;
  }
  .order2 {
    order: 1;
  }
}
