<div class="container-fluid d-flex pt-1 flex-wrap justify-content-center contactForm">
    <div class="col-sm-6 align-self-center mt-5">Napisz do nas jeśli masz jakieś pytania:
        <div class="mt-3">
            <form id="myForm" #form="ngForm" (ngSubmit)="onFormSubmit(form.value)">
                <label for="fname">Imię:</label><br>
                <input type="text" id="fname" name="fname" #firstNameInput="ngModel" ngModel><br>
                <label for="lname">Nazwisko:</label><br>
                <input type="text" id="lname" name="lname" #lastNameInput="ngModel" ngModel><br>
                <!-- <label for="tel">telepphone:</label><br>
                <input type="tel" id="tel" name="tel" ngModel><br> -->
                <label for="email">e-mail:</label><br>
                <input type="email" id="email" name="email" #emailInput="ngModel" ngModel><br>
                <label for="exampleFormControlTextarea1" class="form-label">Message:</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" name="desc"
                    #descInput="ngModel" ngModel></textarea>
                <label for="file" class="form-label">plik</label>
                <input class="form-control" name="file" type="file" id="formFile" #formFileInput="ngModel" ngModel (change)="onFileChange($event)">
            
                      
            </form>
            <button class="mt-3 bg-success text-white" type="submit" value="add form"
                (click)="onFormSubmit(form.value); onNameClicked(); clearFields(firstNameInput, lastNameInput, emailInput, descInput, formFileInput)">Submit</button><br>
            <p>{{message}}</p>
        </div>
    </div>