<div class="row1">
  <div class="col-sm-6 textDiv1">
    <div class="row">
      <p>
        Spotykamy się w sezonie zimowym (listopad - marzec) mniej więcej raz na
        1-2 tygodnie.<br />
        Co należy ze sobą zabrać: <br />
        -Ręcznik - najlepiej duży żeby szybko się wysuszyć i żeby było wygodnie
        się przebrać<br />
        -Strój kąpielowy - najlepiej od razu na sobie<br />
        -Strój sportowy - przed morsowaniem robimy instensywną rozgrzewkę
        dlatego ciężko by było zrobić to w jeansach<br />
        -Buty - specjalne buty do wody ewentualnie klapki<br />
        -Ciepła kurtka, czapka, rękawiczki<br />
        -Bielizna na przebranie<br />
        -Ciepłe picie w termosie (opcjonalnie)
      </p>
    </div>
  </div>
  
  <div class="col-sm-6 src1Div">
    <img
      src="assets/sportGroups/WinterSwimmingTeam/PIXNIO-30027-3000x2000.jpg"
      alt="morsy lesko"
      class="src1"
    />
  </div>
</div>

