<div class="row g-0 center aktualnosci">

    <fieldset role="presentation"> <!--obejmuje wszystkie elementy aktualności-->
        <legend role="presentation">
            <h2 class="textChanga mb-2"> {{albumName}}</h2>
        </legend>
    </fieldset>


    <div class="container">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
          <!-- if za miast ngfor?-->
          <div class="col" *ngFor="let item of pictures">
            <!--ngFor multyply the whole div element by the number of picures in API-->
            <div class="gallery">
              <!-- <a [routerLink]="['/album', albumName, item.name]" routerLinkActive="active"> -->
    
              <img
                [src]="item.url"
                width="300"
                height="200"
                priority
              />
              </div></div></div></div></div>