<div class="row g-0 center aktualnosci">

    <fieldset role="presentation"> <!--obejmuje wszystkie elementy aktualności-->
        <legend role="presentation">
            <h2 class="textChanga titleMargins center"> {{albumName}}</h2>
        </legend>
    </fieldset>


    <div class="container ">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-5">
          <!-- if za miast ngfor?-->
          <div class="col" *ngFor="let item of pictures">
            <!--ngFor multyply the whole div element by the number of picures in API-->
            <div class="gallery">
              <!-- <a [routerLink]="['/album', albumName, item.name]" routerLinkActive="active"> -->
    
              <img
                [src]="item.url"
                *ngIf="item.width && item.height"
      [style.width.px]="!isPortrait(item) ? 400 : 'auto'"
      [style.height.px]="isPortrait(item) ? 270 : 'auto'"
       (click)="viewFullscreen(item.url)" />
              />
              </div></div></div></div></div>
              <!-- Fullscreen image container -->
<div #fullscreenContainer class="fullscreen-container" (click)="exitFullscreen()" hidden>
  <img #fullscreenImage class="fullscreen-img" />
</div>