.row {
    /* WAZNE! INACZEJ STRONA POSZERZA SIĘ POZA MENU */
    border: 0px;
    padding: 0%;
    margin: 0px;
  }

  .titleMargins{
    margin-top: 5vh;
    margin-bottom: 5vh;

  }

  .gallery {
    display: flex;
    justify-content: center;
    align-items: center;
}
.fullscreen-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.95);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.fullscreen-img {
  max-width: 100%;
  max-height: 100%;
  cursor: zoom-out;
}