.src{
    height: 50vh;
    width: auto ;
    

}
button{
    height: 10vh;
    width: 25vw;
}
.onPicCenter{
    position: absolute;
    top: 110vh;
    left: 50%;
    transform: translate(-49%, 302%);
    /* font-size: 18px; */
}
.textIntro{
    font-family: 'lato';
    /* font-size: 2vh; */
    color: aliceblue;
    padding: 5px;
}

.join{
    margin-top: 0px;
    margin-bottom: 0px;
}
.center {
    display: flex;
    justify-content: center;
}
.bgGreen{
    background-color: rgb(47, 116, 33);
}
@media (max-width: 600px) {
   button{
    height: 10vh;
    width: 70vw;
}
   .src{
    height: 30vh;
   }
   .join{
    margin-top: 50px;
    margin-bottom: 50px;
}
.onPicCenter{
    position: absolute;
    top: 155vh;
    left: 50%;
    transform: translate(-64%, 83%);;
}
.textIntro{
    padding-bottom: 0%;
}
}