<div class="container-fluid textIntro  mt-4 mb-4">
    <div class="row">
        
        <div class="col-sm">Jesteśmy zespołem lubiących sport i ruch.
            Zaczynaliśmy od gry w siatkówkę na sali gimnastycznej w Leskim LO. W 2023 roku postanowiliśmy sformalizować
            naszą grupę i zrzeszyć się w Klub Sportowy.<br><br>
            <i class="fa-solid fa-volleyball iconGreen me-2"></i><a href="#">Zobacz naszą historię</a>   
        </div>
        <div class="col-sm text-center">Klub sportowy <span class="textChanga"> MOTUS </span> w Lesku.<br><br>
            <button type="button" class="btn btn-lg btn-success textChanga"> <a href="#">Dołącz do nas!</a></button>
        </div>
        <div class="col-sm">Spotykamy się regularnie, co najmniej raz w tygodniu. Rozwijamy się grając w siatkówkę, piłkę nożną, wspinaczkę skałkową, pływając na kajakach, czy jeżdżdząc na rowerach. <br><br>
            <i class="fa-solid fa-volleyball iconGreen me-2"></i><a href="#">Zobacz kalendarz wydarzeń</a>   
        </div>
    </div>
</div> 