<div class="container-fluid ">
    <div class="row row1">
        <div class="col-sm-6 textDiv1">
            <p>Jesteśmy zespołem lubiącym sport i ruch.<br>
                Zaczynaliśmy od gry w siatkówkę na sali gimnastycznej w Leskim LO. W 2023 roku postanowiliśmy
                sformalizować
                naszą grupę i zrzeszyć się w Klub Sportowy.</p>
            <div class="row">
            </div>
        </div>
        <div class="col-sm-6 src1Div">
            <img src="assets/team.jpg" alt="motus lesko" class="src1">
            <button type="button" class=" btn1 btn  textChanga"> <a routerLink="#dolacz" class="h2 aOnButton">Dołącz do
                    nas!</a></button>
        </div>
    </div>
</div>

<!--Row2-->

<div class="container-fluid">
    <div class="row row2">
        <div class="col-sm-6">
            <img src="assets/banner4.jpg" alt="motus lesko" class="src2">
        </div>
        <div class="col-sm-6 text2Div">
            <p>Jesteśmy otwarci na wszystkie dyscypliny sportowe. <br>Lubisz siatkówkę? Przyjdź do nas!<br> Chcesz
                rozwijać
                umiejętności pływackie? Możemy Ci pomóc!<br> Twoją pasją jest jeździectwo? Bierz konia i galopuj do
                Leska!
                Szukasz kompana do curlingu? Yyy… Powodzenia!</p>
        </div>
    </div>
</div>