
fieldset {
  border-width: 5px 0px 0px 0px;
  border-style: solid;
  border-color: rgb(47, 116, 33);
  padding: 0vw 20vw;
  /*20 na małym*/
  margin-bottom: 5vh;
  margin-top: 10vh;
  height: fit-content;
  width: fit-content;
}

legend {
  width: 20vw;
  /* dł.zielonej kreski */
  /*50vw na małym*/
  height: 5vh;
  margin-top: -25px;
  margin-left: 2vw;
  /* wyjustowanie */
  /*20 na małym*/
  background-color: black;
}

.src {
  width: auto;
  height: 30vh;
  margin: auto;
  display: block;

  /* na małym max 25vh i zmienic number na mniejszy */
}
.srcMail {
  width: auto;
  height: 30vh;
  margin: auto;
  display: block;
  cursor: pointer;
  /* na małym max 25vh i zmienic number na mniejszy */
}

.btnG {
  /* position: absolute;
    top: 35%;
    left: 45%;
    transform: translate(0%, 0vh);  */
  width: auto;
  height: 30vh;
  margin: auto;
  display: block;
  height: 15vh;
  width: 25vw;

  background-color: rgb(20, 110, 188);
  cursor: pointer;
}
.textBtn {
  font-family: "lato";
  font-size: 2vh;
  color: aliceblue;
}
.textDiv {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;

  font-family: "lato";
  font-size: 2vh;
  color: aliceblue;
  z-index: 1;

  /*to w poączeniu z .center (w row2) odpowiada za NAKŁADANIE SIĘ ELEMENTÓW NA SIEBIE*/
}
.div {
  text-align: center;
  background-color: rgb(47, 116, 33);
  height: fit-content;
  padding: 2% 2% 2% 2%;
  width: 25vw;
}
.number {
  font-family: "lato";
  font-size: 7vh;
  color: aliceblue;
}

@media (min-width: 250px) and (max-width: 399px) {
  legend {
    width: 60vw;
    height: 8vh;
    margin-top: -36px;
    margin-left: 2vw;
    background-color: black;
  }
  .src {
    width: 80vw;
    height: auto;
    margin: auto;
    display: block;
  }
  .div1 {
    background-color: rgb(47, 116, 33);
    height: 30vh;
    padding: 2% 2% 2% 2%;
    width: 100vw;
  }
  .div {
    text-align: center;
    background-color: rgb(47, 116, 33);
    height: 30vh;
    padding: 2% 2% 2% 2%;
    width: 100vw;
  }
  .textDiv {
    text-align: center;
    justify-content: center;
    font-family: "lato";
    font-size: 2vh;
    color: aliceblue;
  }
  .btnG {
    margin-right: 0vw;
    height: 15vh;
    width: 85vw;
    z-index: 0;
    background-color: rgb(20, 110, 188);
    cursor: pointer;
    margin-top: 1vh;
  }
  .row {
    justify-content: center;
  }
}
