<div class="container">
  <div class="row mt-4 center">
    <fieldset role="presentation">
      <!--obejmuje wszystkie elementy aktualności-->
      <legend role="presentation">
        <h2 class="textChanga text-center mb-2">Zostań członkiem KS Motus</h2>
      </legend>
    </fieldset>
    <div class="row mt-4 justify-content-evenly">
      <div class="col-sm-6 textDiv div center">
        1. Wypełnij deklaracje członkowską
      </div>
      <div class="col-sm-6 textDiv center">
        <button type="button" class="btn btnG">
          <a href="assets/dokumenty/DEKLARACJA_CZLONKOWSKA.pdf" target="_blank"
            >Wydrukuj deklarację
          </a>
        </button>
      </div>
    </div>
    <div class="row mt-4 center">
      <div class="col-sm-6 textDiv div center">
        2. Prześlij zeskanowany dokument na adres e-mail:
      </div>
    </div>
    <div class="row mt-4 center">
      <div class="col-sm-6 textDiv div center">
        3. Oryginał wyślj na adres:
            lub przynieś na najbliższe spotkanie klubowe:)
      </div>
    </div>
  </div>
</div>
