
  <div class="row justify-content-center marginTop ">
    <fieldset role="presentation">
      <!--obejmuje wszystkie elementy aktualności-->
      <legend role="presentation">
        <h2 class="textChanga text-center mb-2">Zostań członkiem KS Motus</h2>
      </legend>
    </fieldset>
    <div class="row justify-content-center  text-center mt-4">
      <div class="col-sm-6">
        <img src="assets/arrow1-300.png" alt="Wypełnij deklaracje członkowską" class="src" style="height: 300px;">
      </div>
      <div class="row justify-content-center text-center mt-4">
        <a href="assets/dokumenty/DEKLARACJA_CZLONKOWSKA.pdf" target="_blank">
          <button type="button" class="btn btnG textBtn">
            Wydrukuj deklarację
          </button>
        </a>
      </div>
    </div>
    <div class="row justify-content-center mt-4 text-center">
      <div class="col-sm-6">
        <img src="assets/arrow2-300.png" alt="Wypełnij deklaracje członkowską" class="src" style="height: 300px;">
      </div>
    </div>
    <div class="row justify-content-center mt-4 center">
      <div class="col-sm-6 textDiv div">
        <span class="number">3</span> Oryginał wyślj na adres: lub przynieś na najbliższe spotkanie
        klubowe:) <br> <br>Witaj w <a routerLink='#o-nas'>KS MOTUS!</a>
      </div>
    </div>
  </div>
