<div class="container center">
  <div class="row">
    <div class="col-sm textDiv text-center">
      Naszą pierwszą utworzoną sekcją jest sekcja siatkówki. Chociaż gramy
      amatorsko staramy się rozwijać, poznawać nowe techniki i taktyki gry.
      Spotykamy się regularnie, żeby ćwiczyć, ale przede wszystkim dobrze się
      bawić!<br />
      <div class="alert text-center">
        Zapraszamy wszystkich chętnych: Każdy piątek o 19:30<br />
        na hali sportowej w Lesku
      </div>
    </div>
    <div class="col-sm">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2592.6161109215222!2d22.32728447533288!3d49.47286785726956!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473c0b0be4de8ec1%3A0x9c1a342c99c0e3a4!2sHala%20Sportowa!5e0!3m2!1sen!2spl!4v1702123636880!5m2!1sen!2spl"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</div>
