<div class="contantainer center">
  <!-- <img src="assets/VCourt.png" alt="" class="src"> -->
  <div class="row">
    <div class="row">
      <div class="col-sm-6 textDiv">
        <div class="row">
          <p>
            Naszą pierwszą utworzoną sekcją jest sekcja siatkówki. Chociaż gramy
            amatorsko staramy się rozwijać, poznawać nowe techniki i taktyki
            gry. Spotykamy się regularnie, żeby ćwiczyć, ale też i dobrze się
            bawić! Zapraszamy wszystkich chętnych pograć z nami:<br />
            <span class="alert text-center"
              >Każdy piątek o 19:30 na hali sportowej w Lesku</span
            >
          </p>
        </div>
      </div>
      <div class="col-sm-6 div1">
        <img src="assets/team.jpg" alt="motus lesko" class="srcVTeam" />
      </div>
    </div>
  </div>
</div>
