<div class="container center">
  <div class="row textDiv">
    Naszą pierwszą utworzoną sekcją jest sekcja siatkówki. Chociaż gramy
    amatorsko staramy się rozwijać, poznawać nowe techniki i taktyki gry.
    Spotykamy się regularnie, żeby ćwiczyć, ale przede wszystkim dobrze się
    bawić!
    <div class="textDiv row">Zapraszamy wszystkich chętnych:</div>
    <div class="row alert text-center">
      Każdy piątek o 19:30<br />
      na hali sportowej w Lesku
    </div>
  </div>

  <!-- <div class="row">
    <div class="row">
      <div class="col-sm-6 textDiv">
          <p>
            Naszą pierwszą utworzoną sekcją jest sekcja siatkówki. Chociaż gramy
            amatorsko staramy się rozwijać, poznawać nowe techniki i taktyki
            gry. Spotykamy się regularnie, żeby ćwiczyć, ale też i dobrze się
            bawić! Zapraszamy wszystkich chętnych pograć z nami:<br />
            <span class="alert text-center"
              >Każdy piątek o 19:30 na hali sportowej w Lesku</span
            >
          </p>
      </div>
      <div class="col-sm-6 div1">
        <img src="assets/team.jpg" alt="motus lesko" class="srcVTeam" />
      </div>
      <div class="bg"></div>
    </div>
  </div> -->
</div>
