/* .bg {
 

    position: relative;
    height: 100vh;
background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .bg::before{
    content: ' ';
    background-image: url(src/assets/sportGroups/volleyballTeam/VCourt.png);
    position: absolute;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity:0.7;
  } */
  .row {
    --bs-gutter-x: 0rem;
    --bs-gutter-y: 0;
  }
.container {
  height: 70vh;
}
iframe {
  height: 50vh;
  width: 25vw;
}
.textDiv {
  background-color: rgb(23, 130, 60);
  background-size: cover;
  position: relative;
  text-align: start;
  padding-bottom: 2vh;
  padding-right: 2vw;
  padding-left: 2vw;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  width: 35vw;
  padding-top: 3vw;
  font-family: "lato";
  font-size: 2vh;
  color: aliceblue;
  z-index: 1;
  /* margin-right: -2vw;
    /*to w poączeniu z .center (w row2) odpowiada za NAKŁADANIE SIĘ ELEMENTÓW NA SIEBIE*/
}
.row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
.alert {
  font-family: "lato";
  font-size: 3vh;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 250px) and (max-width: 399px) {
  .container {
    height: auto;
    margin-top: 5vh;
  }
  .textDiv {
    width: 85vw;
  }
  iframe {
    height: 50vh;
    width: 90vw;
  }

}
@media (min-width: 400px) and (max-width: 767px) {
  .container {
    height: auto;
    margin-top: 5vh;
  }
  .textDiv {
    width: 85vw;
  }
  iframe {
    height: 50vh;
    width:90vw;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    height: auto;
    margin-top: 5vh;
  }
  .textDiv {
    width: 85vw;
  }
  iframe {
    height: 50vh;
    width:90vw;
  }
}
