.row .container {
  --bs-gutter-x: 0rem !important;
  --bs-gutter-y: 0;
}
button {
  z-index: 1;
}
.buttonUp {
  position: fixed;
  bottom: 0px;
  right: 0px;
  padding: 1%;
  background-color: rgb(23, 130, 60);
  width: fit-content;
  height: fit-content;
  color: aliceblue;
  font-family: "lato";
  font-size: 2vh;
  border-radius: 0%;
  z-index: 2;
}
.arrow {
  height: 15px;
  margin: 0px 4px 3px;
}
