.welcomeBanner {
  background: url(src/assets/banner1.jpg) no-repeat center top fixed;
  /* background-repeat: no-repeat; */
  /* background-position: top; */
  background-size: cover;
  height: 100vh;
  margin-top: -50vh;
}
.welcomeText {
  font-size: 9vh;
  font-family: "Changa";
  color: aliceblue;
  /*rgb(47, 116, 33)*/
  /* padding-right: 11%; */
  margin-top: 10vh;
  background: none;
  z-index: 0;
}
@media (max-width: 400px) {
  .welcomeBanner {
    height: 100vh;
    margin-top: -60vh;
  }
}
