.welcomeBanner {
  background: url(src/assets/banner1.jpg) no-repeat center top fixed;
  /* background-repeat: no-repeat; */
  /* background-position: top; */
  background-size: cover;
  height: 100vh;
  margin-top: -50vh;
}
.welcomeText {
  font-size: 9vh;
  font-family: "Changa";
  color: aliceblue;
  /*rgb(23, 130, 60)*/
  /* padding-right: 11%; */
  margin-top: 10vh;
  /* margin-right: 5vw; */
  background: none;
  z-index: 0;
}
.logo {
  height: 50vh;
  /* 45 */
  display: flex;
  align-items: center;
  justify-content: start;
  position: relative;
  z-index: 1;
}
.order0 {
  order: 0;
}
.order1 {
  order: 0;
}
@media (min-width: 250px) and (max-width: 399px) {
  .welcomeBanner {
    height: 100vh;
    margin-top: -47vh;
  }
  .welcomeText {
    margin-top: 0vh;
  }
  .logo {
    height: 30vh;
    margin-top: -34vh;
    padding-left: 13vw;
  }
  .order0 {
    order: 1;
  }
  .order1 {
    order: 0;
  }
}
@media (min-width: 400px) and (max-width: 767px) {
  .welcomeBanner {
    height: 100vh;
    margin-top: -47vh;
  }
  .welcomeText {
    margin-top: 0vh;
  }
  .logo {
    height: 30vh;
    margin-top: -34vh;
    padding-left: 20vw;
  }
  .order0 {
    order: 1;
  }
  .order1 {
    order: 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .welcomeBanner {
    height: 104vh;
    margin-top: -55vh;
  }
  .welcomeText {
    margin-top: 25vh;
  }
  .logo {
    height: 30vh;
    margin-top: -78vh;
    padding-left: 0vw;
  }
  .order0 {
    order: 1;
  }
  .order1 {
    order: 0;
  }
}
