/* You can add global styles to this file, and also import other style files */
 *{
    background-color: black;
    color:aliceblue;
} 
.welcomeText{
    font-size: 8vh;
    font-family: 'Changa';
    color: rgb(47, 116, 33);
    padding-left: 10%;
    background: none;
    z-index: 1;
}
.welcomeBanner{
    background:url('src/assets/banner1.jpg') no-repeat center top scroll;
    /* background-repeat: no-repeat; */
    /* background-position:top; */
    /* background-attachment: scroll; jest duża róznica miedzy fixed i scroll */
    background-size: cover;
    height: 600px;
    margin-top: -200px;
    
    
}