div{
    display: inline-block;
    text-align: center;
    color: aliceblue;
    font-family: 'lato';
    background-color: black;
    justify-content:flex-start;
    align-items: center;
}
mat-calendar{
    width: 350px;
    z-index: 0;

}

::ng-deep .mat-calendar-body-label{
    color: aliceblue;
    font-size: 2vh;
    font-family: 'lato';
    z-index: 0;
      }
::ng-deep .mat-calendar-body-cell-content{
    color:aliceblue;
   background-color: black;
   font-size: 2vh;
   max-width: 50px;
   max-height: 50px;
   font-size: 2vh;
    font-family: 'lato';
    z-index: 0;

}


::ng-deep .mat-calendar-body-cell-container{
    max-width: 50px;
    font-size: 4vh;
    font-family: 'lato';
    z-index: 0;

}
::ng-deep .mat-calendar-body-cell{
    max-width: 50px;
    font-size: 2vh;
    font-family: 'lato';
    z-index: 0;

}

::ng-deep .mat-calendar-table-header th{ /*nagłowki dni tygodnia*/
    max-width: 50px;
    font-size: 2vh;
    font-family: 'lato';
    color: aliceblue;
    z-index: 0;

}
::ng-deep .mdc-button__label{
    font-size: 2vh;
    font-family: 'lato';
    color: aliceblue;   
    z-index: 0;

}

img{
    width: 40vw;
display: flex;
    margin: 0%;
    z-index: 0;
}

.imgCenter {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3%;
}
.carousel-item {
    position: relative;
    display: flex;
    /* float: left; */
    width: 100%;
    /* margin-right: -100%; */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform .6s ease-in-out;
    z-index: 0;
}

