div{
    display: flex;
    justify-content: center;
    color: aliceblue;
    font-family: 'lato';
    background-color: black;
    justify-content: center;
    align-items: center;
}
mat-calendar{
    width: 300px;
}

::ng-deep .mat-calendar-body-label{
    color: aliceblue;
    font-size: 2vh;
    font-family: 'lato';
      }
::ng-deep .mat-calendar-body-cell-content{
    color:aliceblue;
   background-color: black;
   font-size: 2vh;
   max-width: 50px;
   max-height: 50px;
   font-size: 2vh;
    font-family: 'lato';
}


::ng-deep .mat-calendar-body-cell-container{
    max-width: 50px;
    font-size: 4vh;
    font-family: 'lato';
}
::ng-deep .mat-calendar-body-cell{
    max-width: 50px;
    font-size: 2vh;
    font-family: 'lato';
}

::ng-deep .mat-calendar-table-header th{ /*nagłowki dni tygodnia*/
    max-width: 50px;
    font-size: 2vh;
    font-family: 'lato';
    color: aliceblue;
}
::ng-deep .mdc-button__label{
    font-size: 2vh;
    font-family: 'lato';
    color: aliceblue;   
}