<div>
  <button
    type="button"
    *ngIf="isTopButtonVisible"
    class="buttonUp btn"
    (click)="scrollToTop()"
    data-aos="fade-up"
    data-aos-duration="3000"
    data-aos-anchor-placement="top-center"
  >
    <img src="assets/up.png" class="arrow" /> top
  </button>
</div>
<div class="row center aktualnosci">
  <fieldset role="presentation">
    <!--obejmuje wszystkie elementy aktualności-->
    <legend role="presentation">
      <h2 class="textChanga text-center ps-2 pe-2">
        POLITYKA PRYWATNOŚCI
      </h2>
    </legend>
  </fieldset>
  <div class="row textStat">
    <p class="text-center fw-bold fw-bold">
     Informacje ogólne
    </p>
    <p class="text-left">
      
Niniejsza Polityka prywatności określa zasady przetwarzania danych osobowych oraz wykorzystywania plików cookies w ramach serwisu internetowego [adres strony].

Administratorem danych osobowych jest Klub Sportowy Motus Lesko, adres e-mail do kontaktu: ksmotus@gmail.com.


    </p>
    <p class="text-center fw-bold fw-bold">Zakres przetwarzanych danych
</p>
    <br />
    <p class="text-left">
     W ramach korzystania z serwisu mogą być przetwarzane następujące dane osobowe:

imię i nazwisko (jeśli zostaną podane),

adres e-mail,

treść wiadomości przesłanej za pośrednictwem e-mail.

Podanie danych jest dobrowolne, lecz niezbędne do udzielenia odpowiedzi na zapytanie.

<br />
    </p>
    <p class="text-center fw-bold fw-bold">
Cel przetwarzania danych
</p>
    <br />
    <p class="text-left">
     Dane osobowe przetwarzane są wyłącznie w celu:<br>

- obsługi zapytań przesyłanych za pomocą poczty e-mail,<br>

- prowadzenia korespondencji z użytkownikiem.

Dane nie są wykorzystywane do celów marketingowych ani profilowania.
<br />
    </p>
    <p class="text-center fw-bold fw-bold">
      Podstawa prawna przetwarzania
    </p>
    <br />
    <p class="text-left">
    Podstawą prawną przetwarzania danych osobowych jest:

art. 6 ust. 1 lit. a RODO – zgoda użytkownika wyrażona poprzez wysłanie formularza,

art. 6 ust. 1 lit. f RODO – prawnie uzasadniony interes administratora polegający na obsłudze zapytań kierowanych przez użytkowników.
<br />
    </p>
    <p class="text-center fw-bold fw-bold">Okres przechowywania danych
<br /></p>
    <p class="text-left">
      Dane osobowe są przechowywane przez okres niezbędny do:

udzielenia odpowiedzi na zapytanie,

zakończenia korespondencji,

a następnie mogą zostać usunięte, o ile dalsze ich przechowywanie nie jest wymagane przepisami prawa.
<br />
    </p>
    <p class="text-center fw-bold fw-bold">Prawa użytkownika<br /></p>
    <p class="text-left">
      Użytkownik ma prawo do:<br>

- dostępu do swoich danych osobowych,

- ich sprostowania,

- usunięcia danych,

- ograniczenia przetwarzania,

- wniesienia sprzeciwu wobec przetwarzania,

- cofnięcia zgody w dowolnym momencie.

W celu realizacji swoich praw użytkownik może skontaktować się z administratorem pod adresem e-mail: ksmotus@gmail.com.

Użytkownik ma również prawo wniesienia skargi do Prezesa Urzędu Ochrony Danych Osobowych.
<br />
    </p>
    <p class="text-center fw-bold fw-bold">Pliki cookies</p>
    <br />
    <p class="text-left">
      Serwis wykorzystuje wyłącznie niezbędne pliki cookies techniczne, które są konieczne do prawidłowego działania strony.

Serwis: <br>

- nie stosuje cookies analitycznych,

- nie stosuje cookies marketingowych,

- nie prowadzi statystyk ani śledzenia użytkowników.
    </p>
    <br />

    <p class="text-center fw-bold fw-bold">
Zmiany polityki prywatności

</p>
    <br />
    <p class="text-left">
     
Administrator zastrzega sobie prawo do wprowadzenia zmian w niniejszej polityce prywatności w przypadku zmian przepisów prawa lub funkcjonowania serwisu.

Aktualna wersja polityki prywatności jest zawsze dostępna na stronie internetowej.<br />
    </p>
    
  </div>
</div>

